<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Forms / Validation - NiceAdmin Bootstrap Template</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="/xdm/v1/template/Lonely/assets/img/favicon.png" rel="icon">
<link href="/xdm/v1/template/Lonely/assets/img/apple-touch-icon.png"
	rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link
	href="/xdm/v1/template/Lonely/assets/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="/xdm/v1/template/Lonely/assets/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link
	href="/xdm/v1/template/Lonely/assets/vendor/boxicons/css/boxicons.min.css"
	rel="stylesheet">
<link href="/xdm/v1/template/Lonely/assets/vendor/quill/quill.snow.css"
	rel="stylesheet">
<link
	href="/xdm/v1/template/Lonely/assets/vendor/quill/quill.bubble.css"
	rel="stylesheet">
<link
	href="/xdm/v1/template/Lonely/assets/vendor/remixicon/remixicon.css"
	rel="stylesheet">
<link
	href="/xdm/v1/template/Lonely/assets/vendor/simple-datatables/style.css"
	rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/xdm/v1/template/Lonely/assets/css/style.css"
	rel="stylesheet">

<!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

	<!-- ======= Header ======= -->
      <div th:replace="~{xdm/v1/infra/common/header :: header}"></div>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
      <div th:replace="~{xdm/v1/infra/common/sidebar :: aside}"></div>
    <!-- End Sidebar-->

	<main id="main" class="main">

		<div class="pagetitle">
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Page 1</a></li>
					<li class="breadcrumb-item"><a href="index.html">Page 2</a></li>
					<li class="breadcrumb-item active">Default</li>
				</ol>
			</nav>
			<h1>Code Group</h1>
		</div>
		<!-- End Page Title -->

		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">기본정보</h5>

							<!-- Custom Styled Validation -->
							<form name="form" method="post" action="/xdm/v1/infra/codegroup/codeGroupXdmUpdt" novalidate>
								<div class="row mb-3">
									<div class="col-md-3">
										<label class="form-label">
											코드그룹 번호
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="ifcgSeq" th:value="${item?.ifcgSeq}"
											placeholder="자동생성" style="background-color: #E9ECEF;" readonly>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											코드그룹 이름
											<a style="color: red;">*</a>
											</label> 
											<input type="text" class="form-control" name="ifcgName" id="ifcgName"
											th:value="${item?.ifcgName}" placeholder="코드그룹 이름" required>
											<div class="invalid-feedback" id="ifcgNameFeedback"> 코드그룹이름을 입력해 주세요.</div>
											<div class="invalid-feedback" id="ifcgNameRegExpFeedback"> 코드그룹이름은 한글, 영대소문자, 숫자만 입력해 주세요.</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-3">
										<label class="form-label">
											사용 여부
											<a style="color: red;">*</a>
										</label> 
										<select class="form-select" name="ifcgUseNy" id="ifcgUseNy" required>
											<option selected disabled>사용 여부</option>
											<option value="1" th:selected="${item?.ifcgUseNy == 1}">Y</option>
											<option value="0" th:selected="${item?.ifcgUseNy == 0}">N</option>
										</select>
										<div class="invalid-feedback"> 사용여부를 선택해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											순서
											<a style="color: red;">*</a>
										</label> 
										<select class="form-select" name="ifcgOrder" id="ifcgOrder" required>
											<option selected disabled>순서</option>
											<option value="1" th:selected="${item?.ifcgOrder == 1}">1</option>
											<option value="2" th:selected="${item?.ifcgOrder == 2}">2</option>
											<option value="3" th:selected="${item?.ifcgOrder == 3}">3</option>
											<option value="4" th:selected="${item?.ifcgOrder == 4}">4</option>
											<option value="5" th:selected="${item?.ifcgOrder == 5}">5</option>
											<option value="6" th:selected="${item?.ifcgOrder == 6}">6</option>
											<option value="7" th:selected="${item?.ifcgOrder == 7}">7</option>
											<option value="8" th:selected="${item?.ifcgOrder == 8}">8</option>
											<option value="9" th:selected="${item?.ifcgOrder == 9}">9</option>
											<option value="10" th:selected="${item?.ifcgOrder == 10}">10</option>
										</select>
										<div class="invalid-feedback"> 삭제여부를 선택해 주세요.</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-6">
										<label class="form-label">설명</label>
										<textarea class="form-control" name="ifcgDesc" th:text="${item?.ifcgDesc}"
											 style="height: 100px">
										</textarea>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-3">
										<label class="form-label">
											삭제 여부
											<a style="color: red;">*</a>
										</label>
										<select class="form-select" name="ifcgDelNy" disabled>
											<option value="0" th:selected="${item?.ifcgDelNy == 0}">N</option>
											<option value="1" th:selected="${item?.ifcgDelNy == 1}">Y</option>
										</select>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											등록날짜
											<a style="color: red;">*</a>
										</label>
										<input type="datetime" class="form-control" name="ifcgRegist" 
											 th:value="${#dates.format(item?.ifcgRegist, 'yyyy-MM-dd HH:mm:ss')}" disabled>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											수정날짜
										</label>
										<input type="datetime" class="form-control" name="ifcgEdit"
											 th:value="${#dates.format(item?.ifcgEdit, 'yyyy-MM-dd HH:mm:ss')}" disabled>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-4">
										<a href="/xdm/v1/infra/codegroup/codeGroupXdmList"> 
											<button type="button" class="btn btn-outline-dark" id="btnList">
												<i class="bi bi-list-ul"></i>
											</button>
										</a>
										<button type="button" class="btn btn-danger" id="btnDelete">
											<i class="bi bi-x-lg icon_color_change"></i>
										</button>
										<button type="button" class="btn btn-danger" id="btnUelete"
											data-bs-toggle="modal" data-bs-target="#verticalycentered">
											<i class="bi bi-trash-fill icon_color_change"></i>
										</button>
									</div>
									<div class="col-md-8" align="Right">
										<button type="button" id="btnSubmit" class="btn btn-primary">
											<i class="bi bi-server"></i>
										</button>
									</div>
								</div>
							</form>
							<!-- End Custom Styled Validation -->
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<footer id="footer" class="footer">
		<div class="copyright">
			&copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights
			Reserved
		</div>
		<div class="credits">
			<!-- All the links in the footer should remain intact. -->
			<!-- You can delete the links only if you purchased the pro version. -->
			<!-- Licensing information: https://bootstrapmade.com/license/ -->
			<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
			Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
		</div>
	</footer>
	<!-- End Footer -->

	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/chart.js/chart.umd.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/echarts/echarts.min.js"></script>
	<script src="/xdm/v1/template/Lonely/assets/vendor/quill/quill.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/simple-datatables/simple-datatables.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/tinymce/tinymce.min.js"></script>
<!-- 	<script -->
<!-- 		src="/xdm/v1/template/Lonely/assets/vendor/php-email-form/validate.js"></script> -->

	<!-- Template Main JS File -->
	<script src="/xdm/v1/template/Lonely/assets/js/main.js"></script>

	<script>
		// uelete
		document.getElementById("btnUelete").onclick = function(){
			alert("UELETE 확인");
			// name이 form인 것을 불러와서 저장
			let form = document.querySelector("form[name=form]");
			// 데이터가 전송될 주소
			form.action = "/xdm/v1/infra/codegroup/codeGroupXdmUelete";
			// 전송버튼과 동일
			form.submit();
		}
		
		// delete
		document.getElementById("btnDelete").onclick = function() {
			 alert("DELETE 확인");
			 let form = document.querySelector("form[name=form]");
			 form.action = "/xdm/v1/infra/codegroup/codeGroupXdmDel";
			 form.submit();
		 }
		
		// validation
		document.getElementById("btnSubmit").onclick = function(){
			// ifcgName
			var ifcgName = document.getElementById("ifcgName");						// 객체를 만들고
		    var ifcgNameValue = document.getElementById("ifcgName").value.trim();	// 객체의 값을 받는 객체 생성
		    var ifcgNameRegExp = /^[ㄱ-ㅎ가-힣A-Za-z0-9]+$/;
		    var ifcgNameFeedback = document.getElementById("ifcgNameFeedback");
		    var ifcgNameRegExpFeedback = document.getElementById("ifcgNameRegExpFeedback");
		 	// 기존의 validation 초기화
			ifcgName.classList.remove('is-valid', 'is-invalid');
			ifcgNameFeedback.style.display='none';
			ifcgNameRegExpFeedback.style.display='none';
			// 빈칸일때
		    if (ifcgNameValue == "" || ifcgNameValue == null) {
				ifcgNameFeedback.style.display='block';		// 에러 메세지 표시
				ifcgName.classList.add('is-invalid');		// 유효성 검사 실패 처리 - 빨간 테두리
				ifcgName.focus();	// 객체로 마우스 커서 포커스
				return false;	// 함수를 탈출
		    } else {
				// by pass
		    }
			// 정규표현식
		    if(!ifcgNameRegExp.test(ifcgNameValue)){
		    	ifcgNameRegExpFeedback.style.display='block';		// 에러 메세지 표시
		    	ifcgName.classList.add('is-invalid');		// 유효성 검사 실패 처리 - 빨간 테두리
		    	ifcgName.focus();	// 객체로 마우스 커서 포커스
		    	return false;	// 함수를 탈출
		    } else {
				// by pass
				ifcgName.classList.add('is-valid');		// 유효성 검사 성공 처리 - 초록 테두리
			}
			
		 // ifcgUseNy
			var ifcgUseNy = document.getElementById("ifcgUseNy");
			var ifcgUseNyValue = document.getElementById("ifcgUseNy").value.trim();
			
			if(ifcgUseNyValue == "" || ifcgUseNyValue == null){	// 선택 안했을 경우
				ifcgUseNy.classList.add('is-invalid');		// 유효성 검사 실패 처리 - 빨간 테두리
				ifcgUseNy.focus();
				return false;
			} else {
//					by pass
				ifcgUseNy.classList.remove('is-invalid');	// 빨간 테두리 삭제
				ifcgUseNy.classList.add('is-valid');		// 유효성 검사 성공 처리 - 초록 테두리
			}
			
			// ifcgOrder
			var ifcgOrder = document.getElementById("ifcgOrder");
			var ifcgOrderValue = document.getElementById("ifcgOrder").value.trim();
			
			if(ifcgOrderValue == "" || ifcgOrderValue == null){	// 선택 안했을 경우
				ifcgOrder.classList.add('is-invalid');		// 유효성 검사 실패 처리 - 빨간 테두리
				ifcgOrder.focus();
				return false;
			} else {
//					by pass
				ifcgOrder.classList.remove('is-invalid');	// 빨간 테두리 삭제
				ifcgOrder.classList.add('is-valid');		// 유효성 검사 성공 처리 - 초록 테두리
			}
			
			form.action = "/xdm/v1/infra/codegroup/codeGroupXdmUpdt";
			form.submit();
		}
		
		// LogoutProc
		  document.getElementById("SignoutBtn").onclick = function (){
			   alert("로그아웃 성공");
			   $.ajax({
			      async: true 
			      ,cache: false
			      ,type: "post"
			      /* ,dataType:"json" */
			      ,url: "/xdm/v1/infra/user/userXdmSignoutProc"
			      /* ,data : $("#formLogin").serialize() */
			      ,success: function(response) {
			         if(response.rt == "success") {
			               location.href = "/xdm/v1/infra/user/userXdmSignin";
			         } else {
			            // by pass
			         }
			      }
			   });
			}
	</script>

</body>


</html>