<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Forms / Validation - NiceAdmin Bootstrap Template</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="/xdm/v1/template/Lonely/assets/img/favicon.png" rel="icon">
<link href="/xdm/v1/template/Lonely/assets/img/apple-touch-icon.png"
	rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link
	href="/xdm/v1/template/Lonely/assets/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="/xdm/v1/template/Lonely/assets/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link
	href="/xdm/v1/template/Lonely/assets/vendor/boxicons/css/boxicons.min.css"
	rel="stylesheet">
<link href="/xdm/v1/template/Lonely/assets/vendor/quill/quill.snow.css"
	rel="stylesheet">
<link
	href="/xdm/v1/template/Lonely/assets/vendor/quill/quill.bubble.css"
	rel="stylesheet">
<link
	href="/xdm/v1/template/Lonely/assets/vendor/remixicon/remixicon.css"
	rel="stylesheet">
<link
	href="/xdm/v1/template/Lonely/assets/vendor/simple-datatables/style.css"
	rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/xdm/v1/template/Lonely/assets/css/style.css"
	rel="stylesheet">

<!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

	<!-- ======= Header ======= -->
  		<div th:replace="~{xdm/v1/infra/common/header :: header}"></div>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
       <div th:replace="~{xdm/v1/infra/common/sidebar :: aside}"></div>
    <!-- End Sidebar-->

	<main id="main" class="main">

		<div class="pagetitle">
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Page 1</a></li>
					<li class="breadcrumb-item"><a href="index.html">Page 2</a></li>
					<li class="breadcrumb-item active">Default</li>
				</ol>
			</nav>
			<h1>Shop</h1>
		</div>
		<!-- End Page Title -->

		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Shop 수정</h5>

							<!-- Custom Styled Validation -->
							<form name="form" method="post" action="/xdm/v1/infra/shop/shopXdmUpdt">
								<div class="row mb-3">
									<div class="col-md-3">
										<label class="form-label">
											No.
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="nsSeq" id="nsSeq" th:value="${shopItem?.nsSeq}"
											placeholder="자동생성" style="background-color: #E9ECEF;" readonly>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											shop 이름
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="nsName" id="nsName" th:value="${shopItem?.nsName}"
										placeholder="shop 이름">
										<div class="invalid-feedback" id="nsNameFeedback">shop 이름을 입력해 주세요.</div>
										<div class="invalid-feedback" id="nsNameRegExpFeedback">shop 이름에는 특수문자를 사용할 수 없습니다.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											shop 전화번호
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="nsTel" id="nsTel" th:value="${shopItem?.nsTel}"
										placeholder="'-'없이 입력해주세요">
										<div class="invalid-feedback" id="nsTelFeedback">shop 전화번호를 입력해 주세요.</div>
										<div class="invalid-feedback" id="nsTelRegExpFeedback">'-'빼고 입력해 주세요.</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-3">
										<label class="form-label">
											대표자 이름
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="nsOwnerName" id="nsO2wnerName" th:value="${shopItem?.nsOwnerName}"
											placeholder="대표자 이름">
										<div class="invalid-feedback" id="nsOwnerNameFeedback">대표자 이름을 입력해 주세요.</div>
										<div class="invalid-feedback" id="nsOwnerNameRegExpFeedback">대표자 이름은 한글만 입력해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											대표자 전화번호
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="nsOwnerTel" id="nsOwnerTel" th:value="${shopItem?.nsOwnerTel}"
										placeholder="'-'없이 입력해주세요">
										<div class="invalid-feedback" id="nsOwnerTelFeedback">전화번호를 입력해 주세요.</div>
										<div class="invalid-feedback" id="nsOwnerTelRegExpFeedback">'-'빼고 입력해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											오픈시간
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="nsOpenTime" id="nsOpenTime" placeholder="오픈시간" autocomplete="off" readonly required
											th:value="${#dates.format(shopItem?.nsOpenTime, 'HH:mm')}">
										<div class="invalid-feedback">오픈시간을 입력해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											마감시간
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="nsClosTime" id="nsClosTime" placeholder="마감시간" autocomplete="off" readonly required
											th:value="${#dates.format(shopItem?.nsClosTime, 'HH:mm')}">
										<div class="invalid-feedback">마감시간을 입력해 주세요.</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-3">
										<label class="form-label">
											동시시술인원
											<a style="color: red;">*</a>
										</label> 
										<select class="form-select" name="nsMulti" id="nsMulti">
											<option value="">동시시술인원선택</option>
											<option value="1" th:selected="${shopItem?.nsMulti == 1}">1</option>
											<option value="2" th:selected="${shopItem?.nsMulti == 2}">2</option>
											<option value="3" th:selected="${shopItem?.nsMulti == 3}">3</option>
											<option value="4" th:selected="${shopItem?.nsMulti == 4}">4</option>
											<option value="5" th:selected="${shopItem?.nsMulti == 5}">5</option>
											<option value="6" th:selected="${shopItem?.nsMulti == 6}">6</option>
											<option value="7" th:selected="${shopItem?.nsMulti == 7}">7</option>
											<option value="8" th:selected="${shopItem?.nsMulti == 8}">8</option>
											<option value="9" th:selected="${shopItem?.nsMulti == 9}">9</option>
											<option value="10" th:selected="${shopItem?.nsMulti == 10}">10</option>
										</select>
										<div class="invalid-feedback">동시시술인원 선택해 주세요.</div>
									</div>
									<div class="col-md-9">
										<label class="form-label">
											shop 소개글
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="nsInfoText" id="nsInfoText" th:value="${shopItem?.nsInfoText}"
											placeholder="shop 소개글" style="width:100%">
										<div class="invalid-feedback">shop 소개글을 입력해 주세요.</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-3">
										<label class="form-label">
											우편번호
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="nsZipCode" id="nsZipCode" th:value="${shopItem?.nsZipCode}"
										placeholder="우편번호">
										<div class="invalid-feedback">우편번호를 입력해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											주소
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="nsAddr" id="nsAddr" th:value="${shopItem?.nsAddr}"
										placeholder="주소">
										<div class="invalid-feedback">주소를 입력해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											상세주소
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="nsAddrDetail" id="nsAddrDetail" th:value="${shopItem?.nsAddrDetail}"
										placeholder="상세주소">
										<div class="invalid-feedback">상세주소를 입력해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											지역구
											<a style="color: red;">*</a>
										</label> 
										<select class="form-select" name="nsAddrCode" id="nsAddrCode">
											<option value="">지역구</option>
											<option th:each="list : ${@codeService.selectListCachedCode(2)}" 
												th:value="${list.ifcdSeq}" th:text="${list.ifcdName}"
												th:selected="${list.ifcdSeq} == ${shopItem?.nsAddrCode}">
											</option>
										</select>
										<div class="invalid-feedback">지역구를 입력해 주세요.</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-3">
										<label class="form-label">
											도보정보
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="nsInfoWalk" id="nsInfoWalk" th:value="${shopItem?.nsInfoWalk}"
										placeholder="도보정보">
										<div class="invalid-feedback">도보정보를 입력해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											가격정보
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="nsInfoPrice" id="nsInfoPrice" th:value="${shopItem?.nsInfoPrice}"
										placeholder="가격정보">
										<div class="invalid-feedback">가격정보를 입력해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											이벤트정보
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="nsInfoEvent" id="nsInfoEvent" th:value="${shopItem?.nsInfoEvent}"
										placeholder="이벤트정보">
										<div class="invalid-feedback">이벤트정보를 입력해 주세요.</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-9">
										<label class="form-label">상세정보</label>
										<textarea class="form-control" name="nsInfoDetail" id="nsInfoDetail" th:text="${shopItem?.nsInfoDetail}"
											 style="height: 100px; width:100%">
										</textarea>
										<div class="invalid-feedback">상세정보를 입력해 주세요.</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-3">
										<label class="form-label">
											사진첨부
											<a style="color: red;">*</a>
										</label> <br>
										<img alt="파일업로드사진테스트" 
											src="https://lovelybears.s3.ap-northeast-2.amazonaws.com/shopdto/0/2024/11/04/4f73cee7-9257-4af6-85aa-d74ac10d7380.jpg"
											style="width: 80%; height: 80%;">
										<div class="invalid-feedback">사진을 첨부하세요</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-3">
										<label class="form-label">
											주차가능 여부
											<a style="color: red;">*</a>
										</label> 
										<select class="form-select" name="nsAddParkingNy" id="nsAddParkingNy">
											<option value="">주차가능 여부</option>
											<option value="1" th:selected="${shopItem?.nsAddParkingNy == 1}">Y</option>
											<option value="0" th:selected="${shopItem?.nsAddParkingNy == 0}">N</option>
										</select>
										<div class="invalid-feedback">주차가능 여부를 선택해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											반려동물 동반가능 여부
											<a style="color: red;">*</a>
										</label> 
										<select class="form-select" name="nsAddDogNy" id="nsAddDogNy">
											<option value="">반려동물 동반가능 여부</option>
											<option value="1" th:selected="${shopItem?.nsAddDogNy == 1}">Y</option>
											<option value="0" th:selected="${shopItem?.nsAddDogNy == 0}">N</option>
										</select>
										<div class="invalid-feedback">반려동불 동반가능 여부를 선택해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											이달의아트 여부
											<a style="color: red;">*</a>
										</label> 
										<select class="form-select" name="nsAddArtOfMonthNy" id="nsAddArtOfMonthNy">
											<option value="">이달의아트 여부</option>
											<option value="1" th:selected="${shopItem?.nsAddArtOfMonthNy == 1}">Y</option>
											<option value="0" th:selected="${shopItem?.nsAddArtOfMonthNy == 0}">N</option>
										</select>
										<div class="invalid-feedback">이달의아트 여부를 선택해 주세요.</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-3">
										<label class="form-label">
											드릴케어 여부
											<a style="color: red;">*</a>
										</label> 
										<select class="form-select" name="nsAddDrillcareNy" id="nsAddDrillcareNy">
											<option value="">드릴케어 여부</option>
											<option value="1" th:selected="${shopItem?.nsAddDrillcareNy == 1}">Y</option>
											<option value="0" th:selected="${shopItem?.nsAddDrillcareNy == 0}">N</option>
										</select>
										<div class="invalid-feedback">드릴케어 가능 여부를 선택해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											습식케어 여부
											<a style="color: red;">*</a>
										</label> 
										<select class="form-select" name="nsAddWetcareNy" id="nsAddWetcareNy">
											<option value="">습식케어 여부</option>
											<option value="1" th:selected="${shopItem?.nsAddWetcareNy == 1}">Y</option>
											<option value="0" th:selected="${shopItem?.nsAddWetcareNy == 0}">N</option>
										</select>
										<div class="invalid-feedback">습식케어 가능 여부를 선택해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											별점
											<a style="color: red;">*</a>
										</label> 
										<select class="form-select" name="nsStar" id="nsStar">
											<option value="">별점</option>
											<option value="1" th:selected="${shopItem?.nsStar == 1}">1</option>
											<option value="2" th:selected="${shopItem?.nsStar == 2}">2</option>
											<option value="3" th:selected="${shopItem?.nsStar == 3}">3</option>
											<option value="4" th:selected="${shopItem?.nsStar == 4}">4</option>
											<option value="5" th:selected="${shopItem?.nsStar == 5}">5</option>
										</select>
										<div class="invalid-feedback">별점을 선택해 주세요.</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-3">
										<label class="form-label">
											삭제 여부
											<a style="color: red;">*</a>
										</label> 
										<select class="form-select" name="nsDelNy" id="nsDelNy" disabled>
											<option value="">삭제 여부</option>
											<option value="1" th:selected="${shopItem?.nsDelNy == 1}">Y</option>
											<option value="0" th:selected="${shopItem?.nsDelNy == 0}">N</option>
										</select>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											등록날짜
											<a style="color: red;">*</a>
										</label>
										<input type="datetime" class="form-control" name="nsRegDate"
											th:value="${#dates.format(shopItem?.nsRegDate, 'yyyy-MM-dd HH:mm:ss')}" disabled>
									</div>
									<div class="col-md-3">
									<label class="form-label">
											수정날짜
										</label>
										<input type="datetime" class="form-control" name="nsEditDate"
											th:value="${#dates.format(shopItem?.nsEditDate, 'yyyy-MM-dd HH:mm:ss')}" disabled>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-md-4">
										<a href="/xdm/v1/infra/shop/shopXdmList"> 
											<button type="button" class="btn btn-outline-dark" id="btnList">
												<i class="bi bi-list-ul"></i>
											</button>
										</a>
										<button type="button" class="btn btn-danger" id="btnDelete">
											<i class="bi bi-x-lg icon_color_change"></i>
										</button>
										<button type="button" class="btn btn-danger" id="btnUelete"
											data-bs-toggle="modal" data-bs-target="#verticalycentered">
											<i class="bi bi-trash-fill icon_color_change"></i>
										</button>
									</div>
									<div class="col-md-8" align="Right">
										<button type="submit" id="btnSubmit" class="btn btn-primary">
											<i class="bi bi-server"></i>
										</button>
									</div>
								</div>
							</form>
							<!-- End Custom Styled Validation -->
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<footer id="footer" class="footer">
		<div class="copyright">
			&copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights
			Reserved
		</div>
		<div class="credits">
			<!-- All the links in the footer should remain intact. -->
			<!-- You can delete the links only if you purchased the pro version. -->
			<!-- Licensing information: https://bootstrapmade.com/license/ -->
			<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
			Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
		</div>
	</footer>
	<!-- End Footer -->

	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/chart.js/chart.umd.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/echarts/echarts.min.js"></script>
	<script src="/xdm/v1/template/Lonely/assets/vendor/quill/quill.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/simple-datatables/simple-datatables.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/tinymce/tinymce.min.js"></script>
<!-- 	<script -->
<!-- 		src="/xdm/v1/template/Lonely/assets/vendor/php-email-form/validate.js"></script> -->

	<!-- Template Main JS File -->
	<script src="/xdm/v1/template/Lonely/assets/js/main.js"></script>
	
	<script type="text/javascript">
	
		// uelete 버튼
		document.getElementById("btnUelete").onclick = function(){
			alert("UELETE 확인");
			let form = document.querySelector("form[name=form]");
			form.action = "/xdm/v1/infra/shop/shopXdmUel";
			form.submit();
		}
		
		// delete 버튼
		document.getElementById("btnDelete").onclick = function(){
			alert("DELETE 확인");
			let form = document.querySelector("form[name=form]");
			form.action = "/xdm/v1/infra/shop/shopXdmDel";
			form.submit();
		}
		
		// 오픈시간, 마감시간
		window.addEventListener('load', function(){
			$.datetimepicker.setLocale('ko');
			$("#nsOpenTime, #nsClosTime").datetimepicker({ 
				datepicker: false,		// 날짜 선택 비활성화
				timepicker: true,		// 시간 선택 활성화
				format: 'H:i',			// 시간과 분만 표시 (24시간 형식)
				step: 30				// 분 단위 선택 간격 (30분 단위)
			});
		});

		
		// validation
		document.getElementById("btnSubmit").onclick = function(){
			
		// nsName
			var nsName = document.getElementById("nsName");
			var nsNameValue = document.getElementById("nsName").value.trim();
			var nsNameRegExp = /^[ㄱ-ㅎ가-힣A-Za-z0-9]+$/;
			var nsNameFeedback = document.getElementById("nsNameFeedback");
			var nsNameRegExpFeedback = document.getElementById("nsNameRegExpFeedback");
			
			// 기존의 validation 초기화
			nsName.classList.remove('is-valid', 'is-invalid');
			nsNameFeedback.style.display='none';
			nsNameRegExpFeedback.style.display='none';
			
			if(nsNameValue == "" || nsNameValue == null){
				nsNameFeedback.style.display='block';
				nsName.classList.add('is-invalid');
				nsName.focus();
				return false;
			} else {
// 				by pass
			}
			if(!nsNameRegExp.test(nsNameValue)){
				nsNameRegExpFeedback.style.display='block';		// 에러 메세지 표시
				nsName.classList.add('is-invalid');		// 유효성 검사 실패 처리 - 빨간 테두리
				nsName.focus();	// 객체로 마우스 커서 포커스
		    	return false;	// 함수를 탈출
		    } else {
				// by pass
				nsName.classList.add('is-valid');		// 유효성 검사 성공 처리 - 초록 테두리
			}
					
			
		// nsTel
			var nsTel = document.getElementById("nsTel");
			var nsTelValue = document.getElementById("nsTel").value.trim();
			var nsTelRegExp = /^(0[2-8][0-5]?|01[01346-9])?([1-9]{1}[0-9]{2,3})?([0-9]{4})$/;
			var nsTelFeedback = document.getElementById("nsTelFeedback");
			var nsTelRegExpFeedback = document.getElementById("nsTelRegExpFeedback");
			
			// 기존 validation 초기화
			nsTel.classList.remove('is-valid', 'is-invalid');
			nsTelFeedback.style.display='none';
			nsTelRegExpFeedback.style.display='none';
			
			if(nsTelValue == "" || nsTelValue == null){
				nsTelFeedback.style.display='block';
				nsTel.classList.add('is-invalid');
				nsTel.focus();
				return false;
			} else {
// 				by pass
			}
			if(!nsTelRegExp.test(nsTelValue)){
				nsTelRegExpFeedback.style.display='block';
				nsTel.classList.add('is-invalid');	
				nsTel.focus();	
		    	return false;	
		    } else {
				// by pass
				nsTel.classList.add('is-valid');		
			}
			
			
		// nsOwnerName
			var nsOwnerName = document.getElementById("nsOwnerName");
			var nsOwnerNameValue = document.getElementById("nsOwnerName").value.trim();
			var nsOwnerNameRegExp = /^[ㄱ-ㅎ가-힣A-Za-z]+$/;
			var nsOwnerNameFeedback = document.getElementById("nsOwnerNameFeedback");
			var nsOwnerNameRegExpFeedback = document.getElementById("nsOwnerNameRegExpFeedback");
			
			// 기존의 validation 초기화
			nsOwnerName.classList.remove('is-valid', 'is-invalid');
			nsOwnerNameFeedback.style.display='none';
			nsOwnerNameRegExpFeedback.style.display='none';
			
			if(nsOwnerNameValue == "" || nsOwnerNameValue == null){
				nsOwnerNameFeedback.style.display='block';
				nsOwnerName.classList.add('is-invalid');
				nsOwnerName.focus();
				return false;
			} else {
// 				by pass
			}
			if(!nsOwnerNameRegExp.test(nsOwnerNameValue)){
				nsOwnerNameRegExpFeedback.style.display='block';
				nsOwnerName.classList.add('is-invalid');
				nsOwnerName.focus();
				return false;
			} else {
// 				by pass
				nsOwnerName.classList.add('is-valid');
			}
			
			
		// nsOwnerTel
			var nsOwnerTel = document.getElementById("nsOwnerTel");
			var nsOwnerTelValue = document.getElementById("nsOwnerTel").value.trim();
			var nsOwnerTelRegExp = /^(0[2-8][0-5]?|01[01346-9])?([1-9]{1}[0-9]{2,3})?([0-9]{4})$/;
			var nsOwnerTelFeedback = document.getElementById("nsOwnerTelFeedback");
			var nsOwnerTelRegExpFeedback = document.getElementById("nsOwnerTelRegExpFeedback");
			
			// 기존 validation 초기화
			nsOwnerTel.classList.remove('is-valid', 'is-invalid');
			nsOwnerTelFeedback.style.display='none';
			nsOwnerTelRegExpFeedback.style.display='none';
			
			if(nsOwnerTelValue == "" || nsOwnerTelValue == null){
				nsOwnerTelFeedback.style.display='block';
				nsOwnerTel.classList.add('is-invalid');
				nsOwnerTel.focus();
				return false;
			} else {
// 				by pass
			}
			if(!nsOwnerTelRegExp.test(nsOwnerTelValue)){
				nsOwnerTelRegExpFeedback.style.display='block';
				nsOwnerTel.classList.add('is-invalid');	
				nsOwnerTel.focus();	
		    	return false;	
		    } else {
				// by pass
				nsOwnerTel.classList.add('is-valid');		
			}
			
			
		// nsOpenTime
			var nsOpenTime = document.getElementById("nsOpenTime");
			var nsOpenTimeValue = document.getElementById("nsOpenTime").value.trim();
			
			if(nsOpenTimeValue == "" || nsOpenTimeValue == null){
				nsOpenTime.classList.add('is-invalid');
				nsOpenTime.focus();
				return false;
			} else {
// 				by pass
				nsOpenTime.classList.remove('is-invalid');
				nsOpenTime.classList.add('is-valid');
			}
		
			
		// nsClosTime
			var nsClosTime = document.getElementById("nsClosTime");
			var nsClosTimeValue = document.getElementById("nsClosTime").value.trim();
			
			if(nsClosTimeValue == "" || nsClosTimeValue == null){
				nsClosTime.classList.add('is-invalid');
				nsClosTime.focus();
				return false;
			} else {
// 				by pass
				nsClosTime.classList.remove('is-invalid');
				nsClosTime.classList.add('is-valid');
			}
			
			
		// nsMulti
			var nsMulti = document.getElementById("nsMulti");
			var nsMultiValue = document.getElementById("nsMulti").value.trim();
			
			if(nsMultiValue == "" || nsMultiValue == null){
				nsMulti.classList.add('is-invalid');
				nsMulti.focus();
				return false;
			} else {
// 				by pass
				nsMulti.classList.remove('is-invalid');
				nsMulti.classList.add('is-valid');
			}
			
			
		// nsInfoText
			var nsInfoText = document.getElementById("nsInfoText");
			var nsInfoTextValue = document.getElementById("nsInfoText").value.trim();
			
			if(nsInfoTextValue == "" || nsInfoTextValue == null){
				nsInfoText.classList.add('is-invalid');
				nsInfoText.focus();
				return false;
			} else {
// 				by pass
				nsInfoText.classList.remove('is-invalid');
				nsInfoText.classList.add('is-valid');
			}
			
			
		// nsZipCode
			var nsZipCode = document.getElementById("nsZipCode");
			var nsZipCodeValue = document.getElementById("nsZipCode").value.trim();
			
			if(nsZipCodeValue == "" || nsZipCodeValue == null){
				nsZipCode.classList.add('is-invalid');
				nsZipCode.focus();
				return false;
			} else {
// 				by pass
				nsZipCode.classList.remove('is-invalid');
				nsZipCode.classList.add('is-valid');
			}
			
			
		// nsAddr
			var nsAddr = document.getElementById("nsAddr");
			var nsAddrValue = document.getElementById("nsAddr").value.trim();
			
			if(nsAddrValue == "" || nsAddrValue == null){
				nsAddr.classList.add('is-invalid');
				nsAddr.focus();
				return false;
			} else {
// 				by pass
				nsAddr.classList.remove('is-invalid');
				nsAddr.classList.add('is-valid');
			}
			
			
		// nsAddrDetail
			var nsAddrDetail = document.getElementById("nsAddrDetail");
			var nsAddrDetailValue = document.getElementById("nsAddrDetail").value.trim();
			
			if(nsAddrDetailValue == "" || nsAddrDetailValue == null){
				nsAddrDetail.classList.add('is-invalid');
				nsAddrDetail.focus();
				return false;
			} else {
// 				by pass
				nsAddrDetail.classList.remove('is-invalid');
				nsAddrDetail.classList.add('is-valid');
			}
			
			
		// nsAddrCode
			var nsAddrCode = document.getElementById("nsAddrCode");
			var nsAddrCodeValue = document.getElementById("nsAddrCode").value.trim();
			
			if(nsAddrCodeValue == "" || nsAddrCodeValue == null){
				nsAddrCode.classList.add('is-invalid');
				nsAddrCode.focus();
				return false;
			} else {
// 				by pass
				nsAddrCode.classList.remove('is-invalid');
				nsAddrCode.classList.add('is-valid');
			}
			
			
		// nsInfoWalk
			var nsInfoWalk = document.getElementById("nsInfoWalk");
			var nsInfoWalkValue = document.getElementById("nsInfoWalk").value.trim();
			
			if(nsInfoWalkValue == "" || nsInfoWalkValue == null){
				nsInfoWalk.classList.add('is-invalid');
				nsInfoWalk.focus();
				return false;
			} else {
// 				by pass
				nsInfoWalk.classList.remove('is-invalid');
				nsInfoWalk.classList.add('is-valid');
			}
			
			
		// nsInfoPrice
			var nsInfoPrice = document.getElementById("nsInfoPrice");
			var nsInfoPriceValue = document.getElementById("nsInfoPrice").value.trim();
			
			if(nsInfoPriceValue == "" || nsInfoPriceValue == null){
				nsInfoPrice.classList.add('is-invalid');
				nsInfoPrice.focus();
				return false;
			} else {
// 				by pass
				nsInfoPrice.classList.remove('is-invalid');
				nsInfoPrice.classList.add('is-valid');
			}
			
			
		// nsInfoEvent
			var nsInfoEvent = document.getElementById("nsInfoEvent");
			var nsInfoEventValue = document.getElementById("nsInfoEvent").value.trim();
			
			if(nsInfoEventValue == "" || nsInfoEventValue == null){
				nsInfoEvent.classList.add('is-invalid');
				nsInfoEvent.focus();
				return false;
			} else {
// 				by pass
				nsInfoEvent.classList.remove('is-invalid');
				nsInfoEvent.classList.add('is-valid');
			}
			
			
		// nsInfoDetail
			var nsInfoDetail = document.getElementById("nsInfoDetail");
			var nsInfoDetailValue = document.getElementById("nsInfoDetail").value.trim();
			
			if(nsInfoDetailValue == "" || nsInfoDetailValue == null){
				nsInfoDetail.classList.add('is-invalid');
				nsInfoDetail.focus();
				return false;
			} else {
// 				by pass
				nsInfoDetail.classList.remove('is-invalid');
				nsInfoDetail.classList.add('is-valid');
			}
			
			
			// nsAddParkingNy
			var nsAddParkingNy = document.getElementById("nsAddParkingNy");
			var nsAddParkingNyValue = document.getElementById("nsAddParkingNy").value.trim();
			
			if(nsAddParkingNyValue == "" || nsAddParkingNyValue == null){
				nsAddParkingNy.classList.add('is-invalid');
				nsAddParkingNy.focus();
				return false;
			} else {
// 				by pass
				nsAddParkingNy.classList.remove('is-invalid');
				nsAddParkingNy.classList.add('is-valid');
			}
			
			
		// nsAddDogNy
			var nsAddDogNy = document.getElementById("nsAddDogNy");
			var nsAddDogNyValue = document.getElementById("nsAddDogNy").value.trim();
			
			if(nsAddDogNyValue == "" || nsAddDogNyValue == null){
				nsAddDogNy.classList.add('is-invalid');
				nsAddDogNy.focus();
				return false;
			} else {
// 				by pass
				nsAddDogNy.classList.remove('is-invalid');
				nsAddDogNy.classList.add('is-valid');
			}
			
			
		// nsAddArtOfMonthNy
			var nsAddArtOfMonthNy = document.getElementById("nsAddArtOfMonthNy");
			var nsAddArtOfMonthNyValue = document.getElementById("nsAddArtOfMonthNy").value.trim();
			
			if(nsAddArtOfMonthNyValue == "" || nsAddArtOfMonthNyValue == null){
				nsAddArtOfMonthNy.classList.add('is-invalid');
				nsAddArtOfMonthNy.focus();
				return false;
			} else {
// 				by pass
				nsAddArtOfMonthNy.classList.remove('is-invalid');
				nsAddArtOfMonthNy.classList.add('is-valid');
			}
			
			
		// nsAddDrillcareNy
			var nsAddDrillcareNy = document.getElementById("nsAddDrillcareNy");
			var nsAddDrillcareNyValue = document.getElementById("nsAddDrillcareNy").value.trim();
			
			if(nsAddDrillcareNyValue == "" || nsAddDrillcareNyValue == null){
				nsAddDrillcareNy.classList.add('is-invalid');
				nsAddDrillcareNy.focus();
				return false;
			} else {
// 				by pass
				nsAddDrillcareNy.classList.remove('is-invalid');
				nsAddDrillcareNy.classList.add('is-valid');
			}
			
			
		// nsAddWetcareNy
			var nsAddWetcareNy = document.getElementById("nsAddWetcareNy");
			var nsAddWetcareNyValue = document.getElementById("nsAddWetcareNy").value.trim();
			
			if(nsAddWetcareNyValue == "" || nsAddWetcareNyValue == null){
				nsAddWetcareNy.classList.add('is-invalid');
				nsAddWetcareNy.focus();
				return false;
			} else {
// 				by pass
				nsAddWetcareNy.classList.remove('is-invalid');
				nsAddWetcareNy.classList.add('is-valid');
			}
			
			
			
		    form.action = "/xdm/v1/infra/shop/shopXdmUpdt";
			form.submit();
		}
		
		// LogoutProc
		  document.getElementById("SignoutBtn").onclick = function (){
			   alert("로그아웃 성공");
			   $.ajax({
			      async: true 
			      ,cache: false
			      ,type: "post"
			      /* ,dataType:"json" */
			      ,url: "/xdm/v1/infra/user/userXdmSignoutProc"
			      /* ,data : $("#formLogin").serialize() */
			      ,success: function(response) {
			         if(response.rt == "success") {
			               location.href = "/xdm/v1/infra/user/userXdmSignin";
			         } else {
			            // by pass
			         }
			      }
			   });
			}
	</script>

</body>

</html>