<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Tables / Data - NiceAdmin Bootstrap Template</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="/xdm/v1/template/Lonely/assets/img/favicon.png" rel="icon">
<link href="/xdm/v1/template/Lonely/assets/img/apple-touch-icon.png"
	rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link
	href="/xdm/v1/template/Lonely/assets/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="/xdm/v1/template/Lonely/assets/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link
	href="/xdm/v1/template/Lonely/assets/vendor/boxicons/css/boxicons.min.css"
	rel="stylesheet">
<link href="/xdm/v1/template/Lonely/assets/vendor/quill/quill.snow.css"
	rel="stylesheet">
<link
	href="/xdm/v1/template/Lonely/assets/vendor/quill/quill.bubble.css"
	rel="stylesheet">
<link
	href="/xdm/v1/template/Lonely/assets/vendor/remixicon/remixicon.css"
	rel="stylesheet">
<link
	href="/xdm/v1/template/Lonely/assets/vendor/simple-datatables/style.css"
	rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/xdm/v1/template/Lonely/assets/css/style.css"
	rel="stylesheet">
	
<!-- by developer -->
<link rel="stylesheet" href="/xdm/v1/css/datetimepicker/jquery.datetimepicker.min.css" />

<!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

	<!-- ======= Header ======= -->
	  <div th:replace="~{/xdm/v1/infra/common/header :: header}"></div>
	<!-- End Header -->
	
	<!-- ======= Sidebar ======= -->
	  <div th:replace="~{/xdm/v1/infra/common/sidebar :: aside}"></div>
	<!-- End Sidebar-->

	<main id="main" class="main">

		<div class="pagetitle">
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Page 1</a></li>
					<li class="breadcrumb-item"><a href="index.html">Page 2</a></li>
					<li class="breadcrumb-item active">Default</li>
				</ol>
			</nav>
			<h1>Shop</h1>
		</div>
		<!-- End Page Title -->

		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<h1 class="card-title">Shop 정보</h1>
							<form name="form" method="post" action="/xdm/v1/infra/shop/shopXdmList">
								<input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1" /> 
								<input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}" />
								<div class="row mb-3">
									<div class="col-md-2">
										<select class="form-select" aria-label="Default select example" name="shDelNy">
											<option value="" th:selected="${vo.shDelNy == null}">삭제 여부</option>
											<option value="1" th:selected="${vo.shDelNy == 1}">Y</option>
											<option value="0" th:selected="${vo.shDelNy == 0}">N</option>
										</select>
									</div>
									<div class="col-md-2">
										<select class="form-select" aria-label="Default select example" name="shMulti">
											<option value="" th:selected="${vo.shMulti == null}">동시시술인원</option>
											<option value="1" th:selected="${vo.shMulti == 1}">1</option>
											<option value="2" th:selected="${vo.shMulti == 2}">2</option>
											<option value="3" th:selected="${vo.shMulti == 3}">3</option>
											<option value="4" th:selected="${vo.shMulti == 4}">4</option>
											<option value="5" th:selected="${vo.shMulti == 5}">5</option>
											<option value="6" th:selected="${vo.shMulti == 6}">6</option>
											<option value="7" th:selected="${vo.shMulti == 7}">7</option>
											<option value="8" th:selected="${vo.shMulti == 8}">8</option>
											<option value="9" th:selected="${vo.shMulti == 9}">9</option>
											<option value="10" th:selected="${vo.shMulti == 10}">10</option>
										</select>
									</div>
									<div class="col-md-2">
										<select class="form-select" aria-label="Default select example" name="nsAddrCode">
											<option value="" th:selected="${vo.nsAddrCode == null}">지역구</option>
											<option value="1" th:selected="${vo.nsAddrCode == 1}">서울특별시_강남구</option>
											<option value="2" th:selected="${vo.nsAddrCode == 2}">서울특별시_노원구</option>
											<option value="3" th:selected="${vo.nsAddrCode == 3}">서울특별시_도봉구</option>
											<option value="4" th:selected="${vo.nsAddrCode == 4}">서울특별시_마포구</option>
											<option value="5" th:selected="${vo.nsAddrCode == 5}">서울특별시_송파구</option>
											<option value="6" th:selected="${vo.nsAddrCode == 6}">의정부시_의정부동</option>
											<option value="7" th:selected="${vo.nsAddrCode == 7}">의정부시_호원동</option>
										</select>
									</div>
									<div class="col-md-2">
										<select class="form-select"
											aria-label="Default select example" name="shStar">
											<option value="" th:selected="${vo.shStar == null}">별점</option>
											<option value="1" th:selected="${vo.shStar == 1}">1</option>
											<option value="2" th:selected="${vo.shStar == 2}">2</option>
											<option value="3" th:selected="${vo.shStar == 3}">3</option>
											<option value="4" th:selected="${vo.shStar == 4}">4</option>
											<option value="5" th:selected="${vo.shStar == 5}">5</option>
										</select>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-2">
										<select class="form-select"
											aria-label="Default select example" name="shnsAddParkingNyDelNy">
											<option value="" th:selected="${vo.shnsAddParkingNyDelNy == null}">주차가능 여부</option>
											<option value="1" th:selected="${vo.shnsAddParkingNyDelNy == 1}">Y</option>
											<option value="0" th:selected="${vo.shnsAddParkingNyDelNy == 0}">N</option>
										</select>
									</div>
									<div class="col-md-2">
										<select class="form-select"
											aria-label="Default select example" name="shAddDogNy">
											<option value="" th:selected="${vo.shAddDogNy == null}">반려동물 동반가능 여부</option>
											<option value="1" th:selected="${vo.shAddDogNy == 1}">Y</option>
											<option value="0" th:selected="${vo.shAddDogNy == 0}">N</option>
										</select>
									</div>
									<div class="col-md-2">
										<select class="form-select"
											aria-label="Default select example" name="shAddArtOfMonthNy">
											<option value="" th:selected="${vo.shAddArtOfMonthNy == null}">이달의아트 여부</option>
											<option value="1" th:selected="${vo.shAddArtOfMonthNy == 1}">Y</option>
											<option value="0" th:selected="${vo.shAddArtOfMonthNy == 0}">N</option>
										</select>
									</div>
									<div class="col-md-2">
										<select class="form-select"
											aria-label="Default select example" name="shAddDrillcareNy">
											<option value="" th:selected="${vo.shAddDrillcareNy == null}">드릴케어 여부</option>
											<option value="1" th:selected="${vo.shAddDrillcareNy == 1}">Y</option>
											<option value="0" th:selected="${vo.shAddDrillcareNy == 0}">N</option>
										</select>
									</div>
									<div class="col-md-2">
										<select class="form-select"
											aria-label="Default select example" name="shAddWetcareNy">
											<option value="" th:selected="${vo.shAddWetcareNy == null}">습식케어 여부</option>
											<option value="1" th:selected="${vo.shAddWetcareNy == 1}">Y</option>
											<option value="0" th:selected="${vo.shAddWetcareNy == 0}">N</option>
										</select>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-2">
										<select class="form-select" id="shDateOption" name="shDateOption" aria-label="Default select example">
											<option value="" th:selected="${vo.shDateOption == null}">날짜 선택</option>
											<option value="1" th:selected="${vo.shDateOption == 1}">등록날짜</option>
											<option value="2" th:selected="${vo.shDateOption == 2}">수정날짜</option>
										</select>
									</div>
									<div class="col-md-2">
										<input type="text" class="form-control" placeholder="시작일" id="shStartDate" name="shStartDate" 
											th:value="${#strings.substring(vo.shStartDate, 0, 10)}" autocomplete="off" readonly>
									</div>
									<div class="col-md-2">
										<input type="text" class="form-control" placeholder="종료일" id="shEndDate" name="shEndDate" 
											th:value="${#strings.substring(vo.shEndDate, 0, 10)}" autocomplete="off" readonly>
									</div>
									<div class="col-md-2">
										<select class="form-select" id="shOption" name="shOption" aria-label="Default select example">
											<option value="" th:selected="${vo.shOption == null}">검색구분</option>
											<option value="1" th:selected="${vo.shOption == 1}">샵번호</option>
											<option value="2" th:selected="${vo.shOption == 2}">샵이름</option>
											<option value="3" th:selected="${vo.shOption == 3}">샵전화번호</option>
											<option value="4" th:selected="${vo.shOption == 4}">사장이름</option>
											<option value="5" th:selected="${vo.shOption == 5}">사장전화번호</option>
											<option value="6" th:selected="${vo.shOption == 6}">기본가격</option>
										</select>
									</div>
									<div class="col-md-2">
										<input type="text" class="form-control" id="shValue" name="shValue" placeholder="검색어" autocomplete="off">
									</div>
									<div class="col-md-2">
										<button type="submit" class="btn btn-outline-dark" >
											<i class="bi bi-search"></i>
										</button>
										<button type="button" class="btn btn-outline-dark">
											<i class="bi bi-arrow-clockwise"></i>
										</button>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-2">
										<a th:text="'Total: ' + ${vo.totalRows}"></a>
									</div>
									<div class="col-md-8"></div>
									<div class="col-md-2">
										<select class="form-select form-select-sm" id="changeRowNum" name="changeRowNum">
											<option value="5" th:selected="${vo.rowNumToShow eq 5}">5</option>
											<option value="10" th:selected="${vo.rowNumToShow eq 10}">10</option>
											<option value="15" th:selected="${vo.rowNumToShow eq 15}">15</option>
											<option value="20" th:selected="${vo.rowNumToShow eq 20}">20</option>
											<option value="25" th:selected="${vo.rowNumToShow eq 25}">25</option>
											<option value="30" th:selected="${vo.rowNumToShow eq 30}">30</option>
										</select>
									</div>

									<!-- Table with stripped rows -->
									<!-- Default Table -->
									<table class="table">
										<thead>
											<tr>
												<th><input class="form-check-input" type="checkbox"
													id="gridCheck1"></th>
												<th>No</th>
												<th>샵번호</th>
												<th>샵이름</th>
												<th>샵전화번호</th>
												<th>사장이름</th>
												<th>동시시술인원</th>
												<th>지역구</th>
												<th>기본가격</th>
												<th>주차가능</th>
												<th>반려동물동반가능</th>
												<th>이달의아트유무</th>
												<th>드릴케어</th>
												<th>습식케어</th>
												<th>별점</th>
												<th>등록일</th>
												<th>수정일</th>
												<th>삭제여부</th>
											</tr>
										</thead>
										<tbody>
											<tr th:if="${#lists.isEmpty(shopList)}">
												<td colspan="18" align="center">No Data!!</td>
											</tr>
											<tr th:if="!${#lists.isEmpty(shopList)}" th:each="list : ${shopList}">
												<td><input class="form-check-input" type="checkbox"
													id="gridCheck1"></td>
												<td th:text="${vo.totalRows - ((vo.thisPage - 1) * vo.rowNumToShow + listStat.index)}"></td>
												<td th:text="${list.nsSeq}"></td>
												<td><a
													th:href="@{/xdm/v1/infra/shop/shopXdmMfom(nsSeq=${list?.nsSeq})}"
													th:text="${list.nsName}"></a></td>
												<td th:text="${list.nsTel}"></td>
												<td th:text="${list.nsOwnerName}"></td>
												<td th:text="${list.nsMulti}"></td>
												
<!-- 												<td th:text="${list.nsAddrCode}"></td> -->
												<td th:if="${list.nsAddrCode != null}" th:text="${@codeService.selectOneCachedCode(list.nsAddrCode)}"></td>
												<td th:unless="${list.nsAddrCode != null}" ></td>
<!-- 												<td th:if="${list.usrGrade != null}" th:text="${@codeService.selectOneCachedCode(list.usrGrade)}"></td> -->
<!-- 													<td th:unless="${list.usrGrade != null}"></td> -->
												
												<td th:text="${list.nsInfoPrice}"></td>
												<td th:if="${list.nsAddParkingNy eq 0}">N</td>
												<td th:unless="${list.nsAddParkingNy eq 0}">Y</td>
												<td th:if="${list.nsAddDogNy eq 0}">N</td>
												<td th:unless="${list.nsAddDogNy eq 0}">Y</td>
												<td th:if="${list.nsAddArtOfMonthNy eq 0}">N</td>
												<td th:unless="${list.nsAddArtOfMonthNy eq 0}">Y</td>
												<td th:if="${list.nsAddDrillcareNy eq 0}">N</td>
												<td th:unless="${list.nsAddDrillcareNy eq 0}">Y</td>
												<td th:if="${list.nsAddWetcareNy eq 0}">N</td>
												<td th:unless="${list.nsAddWetcareNy eq 0}">Y</td>
												<td th:text="${list.nsStar}"></td>
												<td
													th:text="${#dates.format(list?.nsRegDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
												<td
													th:text="${#dates.format(list?.nsEditDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
												<td th:if="${list.nsDelNy eq 0}">N</td>
												<td th:unless="${list.nsDelNy eq 0}">Y</td>
											</tr>
										</tbody>
									</table>
									<!-- End Table with stripped rows -->

									<!--pagination start-->
										<nav aria-label="Page navigation example">
											<ul class="pagination justify-content-center">
												<li class="page-item disabled" th:if="${vo.startPage gt vo.pageNumToShow}" style="cursor: pointer;">
													<a class="page-link" aria-label="Previous" href="javascript:goList(${vo.startPage - 1})" 
														th:attr="onclick=|goList('${vo.startPage - 1}')|"> 
														<span aria-hidden="true">&laquo;</span>
													</a>
												</li>
												<li class="page-item" th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" 
									    			th:classappend="${num eq vo.thisPage} ? active : ''" style="cursor: pointer;">
												<a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}"></a>
												</li>
												<li class="page-item" th:if="${vo.endPage ne vo.totalPages}" style="cursor: pointer;">
													<a class="page-link" aria-label="Next" th:attr="onclick=|goList('${vo.endPage + 1}')|"> 
														<span aria-hidden="true">&raquo;</span>
													</a>
												</li>
											</ul>
										</nav>
									<!--pagination end-->
							</form>
							<div class="row mb-3">
								<div class="col-md-6">
									<a href="#">
										<button type="button" class="btn btn-danger">
											<i class="bi bi-x-lg icon_color_change"></i>
										</button>
									</a> <a href="#">
										<button type="button" class="btn btn-danger">
											<i class="bi bi-trash-fill icon_color_change"></i>
										</button>
									</a>
								</div>
								<div class="col-md-6" align="Right">
									<button type="button" class="btn btn-success">
										<a href="#"> <i
											class="bi bi-file-earmark-x icon_color_change"></i>
										</a>
									</button>
									<a href="/xdm/v1/infra/shop/shopXdmForm">
										<button type="button" class="btn btn-primary">
											<i class="bi bi-plus-lg icon_color_change"></i>
										</button>
									</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>

	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<footer id="footer" class="footer">
		<div class="copyright">
			&copy; Copyright <strong><span>ImDoyoung</span></strong>. All Rights
			Reserved
		</div>
	</footer>
	<!-- End Footer -->

	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/chart.js/chart.umd.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/echarts/echarts.min.js"></script>
	<script src="/xdm/v1/template/Lonely/assets/vendor/quill/quill.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/simple-datatables/simple-datatables.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/tinymce/tinymce.min.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="/xdm/v1/template/Lonely/assets/js/main.js"></script>
	
	<!-- by developer -->	
	<script src="/xdm/v1/jquery/jquery-3.7.1.min.js"></script>
	<script src="/xdm/v1/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>
	
	<script type="text/javascript">
	
		// 날짜 검색 - datetimepicker
		window.addEventListener('load', function(){
			$.datetimepicker.setLocale('ko');
			$("#shStartDate, #shEndDate").datetimepicker({ 
				timepicker:false,
				format:'Y-m-d'
			});
		});
		
		// 페이징 - paging
		goList = function(thisPage) {
			document.querySelector("input[name=thisPage]").value = thisPage;
			document.querySelector("form[name=form]").action = "/xdm/v1/infra/shop/shopXdmList";
			document.querySelector("form[name=form]").submit();
		}
		
		// 리스트 개수 조절 - changeRowNum
		document.getElementById("changeRowNum").onchange = function () {
		    document.getElementById("rowNumToShow").value = document.getElementById("changeRowNum").value;
		    form.action = "/xdm/v1/infra/shop/shopXdmList";
		    form.submit();
		}
	</script>

</body>

</html>