<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Forms / Validation - NiceAdmin Bootstrap Template</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="/xdm/v1/template/Lonely/assets/img/favicon.png" rel="icon">
<link href="/xdm/v1/template/Lonely/assets/img/apple-touch-icon.png"
	rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link
	href="/xdm/v1/template/Lonely/assets/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="/xdm/v1/template/Lonely/assets/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link
	href="/xdm/v1/template/Lonely/assets/vendor/boxicons/css/boxicons.min.css"
	rel="stylesheet">
<link href="/xdm/v1/template/Lonely/assets/vendor/quill/quill.snow.css"
	rel="stylesheet">
<link
	href="/xdm/v1/template/Lonely/assets/vendor/quill/quill.bubble.css"
	rel="stylesheet">
<link
	href="/xdm/v1/template/Lonely/assets/vendor/remixicon/remixicon.css"
	rel="stylesheet">
<link
	href="/xdm/v1/template/Lonely/assets/vendor/simple-datatables/style.css"
	rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/xdm/v1/template/Lonely/assets/css/style.css"
	rel="stylesheet">
	
<!-- by developer -->
<link rel="stylesheet" href="/xdm/v1/css/datetimepicker/jquery.datetimepicker.min.css" />


<!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

	<!-- ======= Header ======= -->
  		<div th:replace="~{xdm/v1/infra/common/header :: header}"></div>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
  		<div th:replace="~{xdm/v1/infra/common/sidebar :: aside}"></div>
    <!-- End Sidebar-->

	<main id="main" class="main">

		<div class="pagetitle">
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Page 1</a></li>
					<li class="breadcrumb-item"><a href="index.html">Page 2</a></li>
					<li class="breadcrumb-item active">Default</li>
				</ol>
			</nav>
			<h1>ShopMenu</h1>
		</div>
		<!-- End Page Title -->

		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">ShopMenu 등록</h5>

							<!-- Custom Styled Validation -->
							<form name="form" id="form" method="post" action="/xdm/v1/infra/shop/shopMenuXdmInst" enctype="multipart/form-data" class="needs-validation" novalidate>
								<div class="row mb-3">
									<div class="col-md-3">
										<label class="form-label">
											메뉴번호
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="meSeq" id="meSeq"
											placeholder="자동생성" style="background-color: lightgray;" disabled>
									</div>
									
									<div class="col-md-3">
										<label class="form-label">
											shop 이름
											<a style="color: red;">*</a>
										</label> 
										<select class="form-select" name="B_shop_nsSeq" id="B_shop_nsSeq" required>
											<option value="">shop 이름 선택</option>
											<option th:each = "list:${listShop}" th:value="${list.nsSeq}" th:text="${list.nsName}"></option>
										</select>
										<div class="invalid-feedback">shop 이름을 선택해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											메뉴 이름
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="meName" id="meName" placeholder="메뉴 이름" required>
										<div class="invalid-feedback" id="meNameFeedback">메뉴 이름을 입력해 주세요.</div>
										<div class="invalid-feedback" id="meNameRegExpFeedback">메뉴 이름에는 특수문자를 사용할 수 없습니다.</div>
									</div>
								</div>
								<div class="row mb-3">
									
									<div class="col-md-9">
										<label class="form-label">
											메뉴 설명
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="meDesc" id="meDesc" placeholder="메뉴 설명" style="width:100%">
										<div class="invalid-feedback">메뉴 설명을 입력해 주세요.</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-3">
										<label class="form-label">
											소요시간
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="meTime" id="meTime" placeholder="분단위로 입력해주세요">
										<div class="invalid-feedback">소요시간을 입력해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											가격
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="mePrice" id="mePrice" placeholder="가격을 입력하세요" required>
										<div class="invalid-feedback">가격을 입력해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											사용 여부
											<a style="color: red;">*</a>
										</label> 
										<select class="form-select" name="meUseNy" id="meUseNy" >
											<option value="">사용 여부</option>
											<option value="1">Y</option>
											<option value="0">N</option>
										</select>
										<div class="invalid-feedback">사용 여부를 선택해 주세요.</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-4">
										<a href="/xdm/v1/infra/shop/shopMenuXdmList"> 
											<button type="button" class="btn btn-outline-dark" id="btnList">
												<i class="bi bi-list-ul"></i>
											</button>
										</a>
									</div>
									<div class="col-md-8" align="Right">
										<button type="button" id="btnSubmit" class="btn btn-primary">
											<i class="bi bi-server"></i>
										</button>
									</div>
								</div>
							</form>
							<!-- End Custom Styled Validation -->
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<footer id="footer" class="footer">
		<div class="copyright">
			&copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights
			Reserved
		</div>
		<div class="credits">
			<!-- All the links in the footer should remain intact. -->
			<!-- You can delete the links only if you purchased the pro version. -->
			<!-- Licensing information: https://bootstrapmade.com/license/ -->
			<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
			Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
		</div>
	</footer>
	<!-- End Footer -->

	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/chart.js/chart.umd.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/echarts/echarts.min.js"></script>
	<script src="/xdm/v1/template/Lonely/assets/vendor/quill/quill.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/simple-datatables/simple-datatables.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/tinymce/tinymce.min.js"></script>
<!-- 	<script -->
<!-- 		src="/xdm/v1/template/Lonely/assets/vendor/php-email-form/validate.js"></script> -->

	<!-- Template Main JS File -->
	<script src="/xdm/v1/template/Lonely/assets/js/main.js"></script>
	
	<!-- by developer -->	
	<script src="/xdm/v1/jquery/jquery-3.7.1.min.js"></script>
	<script src="/xdm/v1/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>
	
	<script type="text/javascript">
		
		// validation
		document.getElementById("btnSubmit").onclick = function(){
		
			
			// B_shop_nsSeq
			var B_shop_nsSeq = document.getElementById("B_shop_nsSeq");
			var B_shop_nsSeqValue = document.getElementById("B_shop_nsSeq").value.trim();
			
			if(B_shop_nsSeqValue == "" || B_shop_nsSeqValue == null){
				B_shop_nsSeq.classList.add('is-invalid');
				B_shop_nsSeq.focus();
				return false;
			} else {
// 				by pass
				B_shop_nsSeq.classList.remove('is-invalid');
				B_shop_nsSeq.classList.add('is-valid');
			}
			
	
		// meName
			var meName = document.getElementById("meName");
			var meNameValue = document.getElementById("meName").value.trim();
			var meNameRegExp = /^[ㄱ-ㅎ가-힣A-Za-z0-9]+$/;
			var meNameFeedback = document.getElementById("meNameFeedback");
			var meNameRegExpFeedback = document.getElementById("meNameRegExpFeedback");
			
			// 기존의 validation 초기화
			meName.classList.remove('is-valid', 'is-invalid');
			meNameFeedback.style.display='none';
			meNameRegExpFeedback.style.display='none';
			
			if(meNameValue == "" || meNameValue == null){
				meNameFeedback.style.display='block';
				meName.classList.add('is-invalid');
				meName.focus();
				return false;
			} else {
// 				by pass
			}
			if(!meNameRegExp.test(meNameValue)){
				meNameRegExpFeedback.style.display='block';		// 에러 메세지 표시
				meName.classList.add('is-invalid');		// 유효성 검사 실패 처리 - 빨간 테두리
				meName.focus();	// 객체로 마우스 커서 포커스
		    	return false;	// 함수를 탈출
		    } else {
				// by pass
				meName.classList.add('is-valid');		// 유효성 검사 성공 처리 - 초록 테두리
			}
				
			// mePrice
			var mePrice = document.getElementById("mePrice");
			var mePriceValue = document.getElementById("mePrice").value.trim();
			
			if(mePriceValue == "" || mePriceValue == null){
				mePrice.classList.add('is-invalid');
				mePrice.focus();
				return false;
			} else {
// 				by pass
				mePrice.classList.remove('is-invalid');
				mePrice.classList.add('is-valid');
			}
			
			// meUseNy
			var meUseNy = document.getElementById("meUseNy");
			var meUseNyValue = document.getElementById("meUseNy").value.trim();
			
			if(meUseNyValue == "" || meUseNyValue == null){
				meUseNy.classList.add('is-invalid');
				meUseNy.focus();
				return false;
			} else {
// 				by pass
				meUseNy.classList.remove('is-invalid');
				meUseNy.classList.add('is-valid');
			}

		    form.action = "/xdm/v1/infra/shop/shopMenuXdmInst";
			form.submit();
		}
		
		// LogoutProc
		  document.getElementById("SignoutBtn").onclick = function (){
			   alert("로그아웃 성공");
			   $.ajax({
			      async: true 
			      ,cache: false
			      ,type: "post"
			      /* ,dataType:"json" */
			      ,url: "/xdm/v1/infra/user/userXdmSignoutProc"
			      /* ,data : $("#formLogin").serialize() */
			      ,success: function(response) {
			         if(response.rt == "success") {
			               location.href = "/xdm/v1/infra/user/userXdmSignin";
			         } else {
			            // by pass
			         }
			      }
			   });
			}
	</script>

</body>

</html>