<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- ======= Head ======= -->
<div th:replace="~{usr/v1/infra/common/head :: head}"></div>
<!-- ======= End Head ======= -->

<body>
	<!-- main wrapper -->
	<div class="main-wrapper">
		<!-- navbar -->
		
		<!-- ======= Header ======= -->
		<div th:replace="~{usr/v1/infra/common/header :: div}"></div>
		<!-- ======= End Header ======= -->
		
		<!-- content -->
		<div class="py-11 py-7">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-md-12 col-12">
						<div class="card checkout-form">
							<div class="card-body p-5">
								<h4 class="mb-4 border-bottom pb-2">예약 상세 내역</h4>
								<!-- form -->
								<form class="row" name="form" method="post" action="">
									<!-- booking테이블의 boSeq 정보 bookingUpdate에 넘겨주기 -->
									<!-- 예약날짜 -->
									<div class="mb-3 col-md-12">
										<label class="form-label"> 
											예약날짜
										</label> 
										<strong>&nbsp;&nbsp;<span name="boDate" id="boDate" th:text="${#dates.format(bookingDetailItem?.boDate, 'yyyy-MM-dd')}">예약날짜</span></strong>
									</div>
									<!-- 예약시간 -->
									<div class="mb-3 col-md-12">
										<label class="form-label"> 
											예약시간
										</label> 
										<strong>&nbsp;&nbsp;<span th:text="${#dates.format(bookingDetailItem?.boTime, 'HH:mm')}">예약시간</span></strong>
									</div>
									<!-- name -->
									<div class="mb-3 col-md-12">
										<label for="fname" class="form-label"> 
											예약자명
										</label> 
										<strong>&nbsp;&nbsp;<span th:text="${bookingDetailItem?.usrName}">예약자 이름</span></strong>
									</div>
									<!-- phone -->
									<div class="mb-3 col-md-12">
										<label for=text class="form-label"> 
											예약자 전화번호 
										</label> 
										<strong>&nbsp;&nbsp;<span th:text="${bookingDetailItem?.usrPhone}">예약자 전화번호</span></strong>
									</div>
									<!-- ShopName -->
									<div class="mb-3 col-md-12">
										<label class="form-label"> 
											shop 이름 
										</label> 
										<strong>&nbsp;&nbsp;<span th:text="${bookingShopDetailItem?.nsName}">샵 이름</span></strong>
									</div>
									<!-- ShopAddr -->
									<div class="mb-3 col-md-12">
										<label class="form-label"> 
											shop 주소 
										</label> 
										<strong>&nbsp;&nbsp;<span th:text="${#strings.isEmpty(bookingShopDetailItem?.nsAddr) ? '' : bookingShopDetailItem?.nsAddr} + ' ' + ${#strings.isEmpty(bookingShopDetailItem?.nsAddrDetail) ? '' : bookingShopDetailItem?.nsAddrDetail}">샵 주소</span></strong>
									</div>
									
									<!-- 여백 추가 -->
									<div class="w-100 my-3"></div>
									
									<!-- 선택한 메뉴 -->
									<div class="col-md-12">
										<h4 class="mb-4 border-bottom pb-2">선택한 메뉴</h4>
									</div>
									<div class="mb-3 col-md-6">
										<div th:each="list : ${bookingMenuDetailList}">
									        <div class="d-flex justify-content-between">
									            <strong>&nbsp;&nbsp;<span th:text="${list.meName}"></span></strong>
									            <strong>&nbsp;&nbsp;<span th:text="${#numbers.formatInteger(list.mePrice, 0, 'COMMA')}"></span> 원</strong>
									        </div>
									    </div>
									</div>
									
									<!-- 여백 추가 -->
									<div class="w-100 my-3"></div>
									
									<!-- payment details -->
									<div class="col-md-12">
										<h4 class="mb-4 border-bottom pb-2">결제 정보</h4>
									</div>
									<div class="col-md-12">
										<div class="d-flex flex-wrap mb-4">
											<!-- payment -->
											<div class="col-md-12">
												<label for="text" class="form-label"> 
													결제수단
												</label>
<!-- 												<strong>&nbsp;&nbsp;<span>카카오뱅크</span></strong> -->
												<strong>&nbsp;&nbsp;<span th:text="${bookingDetailItem?.boPayment}">결제수단</span></strong>
<!-- 												<strong>&nbsp;&nbsp;<span th:if="${bookingDetailItem?.boPayment != null}" th:text="${@codeService.selectOneCachedCode(bookingDetailItem.boPayment)}"}">결제수단</span></strong> -->
<!-- 												<strong>&nbsp;&nbsp;<span th:unless="${bookingDetailItem?.boPayment != null}">결제수단</span></strong> -->
											</div>
											<div class="col-md-12">
												<label for="text" class="form-label"> 
													총금액
												</label>
												<strong>&nbsp;&nbsp;<span th:text="${#numbers.formatInteger(bookingDetailItem?.boTotalPrice, 0, 'COMMA')}">총금액</span> 원</strong>
											</div>
											<div class="col-md-12">
												<label for="text" class="form-label"> 
													결제금액(예약금)
												</label>
												<strong>&nbsp;&nbsp;<span th:text="${#numbers.formatInteger(bookingDetailItem?.boDeposit, 0, 'COMMA')}">결제금액(예약금)</span> 원</strong>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- ======= footer ======= -->
		<div th:replace="~{usr/v1/infra/common/footer :: div}"></div>
	<!-- ======= End footer ======= -->
	</div>
	<!-- scripts -->
	<!-- Libs JS -->
	<script src="/usr/v1/template/NailForest/assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/owl.carousel/dist/owl.carousel.min.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/select2/dist/js/select2.full.min.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/select2/dist/js/select2.min.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/jquery-raty-js/lib/jquery.raty.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/quill/dist/quill.min.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/uppy/dist/uppy.min.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/litepicker/dist/litepicker.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/prismjs/prism.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/leaflet/dist/leaflet.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/nouislider/dist/nouislider.min.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/wnumb/wNumb.min.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/simplebar/dist/simplebar.min.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/apexcharts/dist/apexcharts.min.js"></script>



	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>

	<!-- Theme JS -->
	<script src="/usr/v1/template/NailForest/assets/js/theme.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
	<script type="text/javascript">
		// LogoutProc
		document.getElementById("SignoutBtn").onclick = function() {
			alert("로그아웃 성공");
			$.ajax({
				async : true,
				cache : false,
				type : "post"
				/* ,dataType:"json" */
				,
				url : "/usr/v1/infra/user/userShopSignoutProc"
				/* ,data : $("#formLogin").serialize() */
				,
				success : function(response) {
					if (response.rt == "success") {
						location.href = "/usr/v1/infra/user/userShopMain";
					} else {
						// by pass
					}
				}
			});
		}
	</script>
	
</body>
</html>