<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- ======= Head ======= -->
<div th:replace="~{usr/v1/infra/common/head :: head}"></div>
<!-- ======= End Head ======= -->

<style>
.container {
 	margin-top: 10%;
}
</style>

<body>
	<!-- main wrapper -->
	<div class="main-wrapper">
		<!-- navbar -->

		<!-- ======= Header ======= -->
		<div th:replace="~{usr/v1/infra/common/header :: div}"></div>
		<!-- ======= End Header ======= -->

		<!-- content -->
		<div class="py-11 py-7">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-md-12 czzol-12">
						<div class="card checkout-form">
							<div class="card-body p-5">
								<!-- form -->
								<form class="row">
									<div align="center">
										<div class="col-md-12">
											<h1>예약이 완료되었습니다.</h1>
										</div>
										<br>
										<!-- meta -->
										<div class="col-12">
											<div align="center">
												<div align="center">
													<a href="/usr/v1/infra/user/userShopMain">
														<button class="btn btn-primary" type="button" align="center">홈으로 이동</button>
													</a>
													<a href="/usr/v1/infra/shop/userShopBookingList">
														<button class="btn btn-primary" type="button" align="center">예약내역확인</button>
													</a>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	<!-- ======= footer ======= -->
		<div th:replace="~{usr/v1/infra/common/footer :: div}"></div>
	<!-- ======= End footer ======= -->
	</div>
	
	<!-- scripts -->
	<!-- Libs JS -->
	<script
		src="/usr/v1/template/NailForest/assets/libs/jquery/dist/jquery.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/owl.carousel/dist/owl.carousel.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/select2/dist/js/select2.full.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/select2/dist/js/select2.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/jquery-raty-js/lib/jquery.raty.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/quill/dist/quill.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/uppy/dist/uppy.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/litepicker/dist/litepicker.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/prismjs/prism.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/leaflet/dist/leaflet.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/nouislider/dist/nouislider.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/wnumb/wNumb.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/simplebar/dist/simplebar.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/apexcharts/dist/apexcharts.min.js"></script>



	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>

	<!-- Theme JS -->
	<script src="/usr/v1/template/NailForest/assets/js/theme.min.js"></script>
	
	<script type="text/javascript">
	// LogoutProc
	document.getElementById("SignoutBtn").onclick = function() {
		alert("로그아웃 성공");
		$.ajax({
			async : true,
			cache : false,
			type : "post"
			/* ,dataType:"json" */
			,
			url : "/usr/v1/infra/user/userShopSignoutProc"
			/* ,data : $("#formLogin").serialize() */
			,
			success : function(response) {
				if (response.rt == "success") {
					location.href = "/usr/v1/infra/user/userShopMain";
				} else {
					// by pass
				}
			}
		});
	}
	</script>
</body>
</html>