<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- ======= Head ======= -->
<div th:replace="~{usr/v1/infra/common/head :: head}"></div>
<!-- ======= End Head ======= -->

<body>
	<!-- main wrapper -->
	<div class="main-wrapper">
		<!-- navbar -->

		<!-- ======= Header ======= -->
		<div th:replace="~{usr/v1/infra/common/header :: div}"></div>
		<!-- ======= End Header ======= -->

		<!-- listing slide -->
		<div class="container mt-5">
<!-- 			<div class="py-22 position-relative rounded-3" style="background: url(/usr/v1/template/NailForest/assets/images/nail/nowonShop2.png) no-repeat center center;"> -->
			<div class="py-22 position-relative rounded-3" th:style="'background: url(' + ${shopItem?.mainImg2} + ') no-repeat center center; background-size: cover;'">
<!-- 			<img th:src="${list.mainImg}" alt="Image description" class="w-100" style="height: 5cm;"> -->
				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12 col-12">
						<!-- listing badges -->
						<div class="position-absolute bottom-0 mb-5 ms-5">
							<div>
								<a href="#" class="btn btn-white btn-sm"> <span
									class="mdi mdi-heart me-1 text-danger"></span>Save
								</a> <a href="#gallery" class="btn btn-white btn-sm">View Photos</a>
							</div>
						</div>
						<!-- listing badges -->
					</div>
				</div>
			</div>
		</div>
		<div class="py-6">
			<div class="container">
				<div class="row">
					<div class="col-xl-8 col-lg-8 col-md-12 col-12">
						<div class="card mb-4">
							<!-- listing detail head -->
							<div class="card-body p-4">
								<h2 class="mb-2" th:text="${shopItem?.nsName}"></h2>
								<p class="mb-4 fs-6" th:text="${shopItem?.nsInfoWalk}"></p>
								<p class="mb-4 fs-6">
									젤네일 기본 원컬러 <strong><span
										th:text="${shopItem?.nsInfoPrice}"></span></strong>원 ~
								</p>
								<p class="mb-4 fs-6" th:text="${shopItem?.nsInfoEvent}"></p>
								<p class="mb-4 fs-6"
									th:text="${shopItem?.nsAddr + ' ' + shopItem?.nsAddrDetail}"></p>
								<div class="text-sm">
									<span class="me-2"> <span> <img
											src="/usr/v1/template/NailForest/assets/images/nail/clockIcon.png">
									</span> <strong> <span
											th:text="${#dates.format(shopItem?.nsOpenTime, 'HH:mm')}"></span>
									</strong>
									</span> <span class="me-2"> <span> <img
											src="/usr/v1/template/NailForest/assets/images/nail/clockIcon.png">
									</span> <strong> <span
											th:text="${#dates.format(shopItem?.nsClosTime, 'HH:mm')}"></span>
									</strong>
									</span> <span class="me-2"> <span> <img
											src="/usr/v1/template/NailForest/assets/images/nail/personIcon.png">
									</span> <strong> <span th:text="${shopItem?.nsMulti}"></span>
									</strong> 인 동시시술
									</span>
								</div>
							</div>

							<!-- listing detail head -->
						</div>
						<!-- listing detail -->
						<div class="card mb-4">
							<div class="card-body p-4">
								<h4>매장정보</h4>
								<pre th:text="${shopItem?.nsInfoDetail}"></pre>
							</div>
						</div>
						<!-- listing detail -->
						<!-- listing detail -->
						<div class="card mb-4">
							<div class="card-body p-4">
								<h4 class="mb-3">부가정보</h4>
								<div class="row">
									<div class="col-md-6">
										<ul class="list-group list-unstyled">
											<li class="list-item"><span
												th:text="${shopItem?.nsAddParkingNy == 1 ? '주차가능' : ''}"></span>
											</li>
											<li class="list-item"><span
												th:text="${shopItem?.nsAddDogNy == 1 ? '반려견동반가능' : ''}"></span>
											</li>
											<li class="list-item"><span
												th:text="${shopItem?.nsAddArtOfMonthNy == 1 ? '이달의아트' : ''}"></span>
											</li>
											<li class="list-item"><span
												th:text="${shopItem?.nsAddDrillcareNy == 1 ? '드릴케어' : ''}"></span>
											</li>
											<li class="list-item"><span
												th:text="${shopItem?.nsAddWetcareNy == 1 ? '습식케어' : ''}"></span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- listing detail -->
						<!-- listing detail -->
						<div class="card mb-4">
							<div class="card-body p-4">
								<div class="row border-bottom mb-5 pb-5 mt-3">
									<div class="col-md-2">
										<div class="text-lg-center">
											<h4>Reviews</h4>
										</div>
									</div>
									<div class="col-md-2">
										<div class="text-lg-center">
<!-- 											<h1 class="fw-bold mb-0 lh-1" th:text="${averageStarItem?.average_star}">별점평균</h1> -->
<!-- 											<h1 class="fw-bold mb-0 lh-1" th:text="${#numbers.formatDecimal(averageStarItem?.average_star, 1, 1)}">별점평균</h1> -->
<!-- 											<h1 class="fw-bold mb-0 lh-1" th:text="${#numbers.formatDecimal(T(java.lang.Math).floor(averageStarItem?.average_star * 10) / 10, 1, '0')}">별점평균</h1> -->
											<h1 class="fw-bold mb-0 lh-1" th:text="${#numbers.formatDecimal(T(java.lang.Math).floor(averageStarItem?.average_star * 10) / 10, 1, '1')}">별점평균</h1>
										</div>
									</div>
								</div>
								<!--  review start -->
								<div class="row" id="target" th:each="list : ${reviewList}">
									<div class="col-md-12 mb-5">
										<div class="row">
											<div class="col-md-3">
												<div>
													<img src="/usr/v1/template/NailForest/assets/images/nail/womanIcon32.png"
														alt="Rentkit Directory & Listing Bootstrap 5 Theme"
														class="avatar-md avatar rounded-circle mb-3">
													<h5 class="mb-n1" th:text="${list.usrId}">회원이름</h5>
													<small th:if="${list.reRegDate != null}"
														th:text="${#dates.format(list.reRegDate, 'yyyy-MM-dd HH:mm:ss')}">리뷰등록일</small>
													<small th:if="${list.reRegDate == null}">등록일 없음</small>
												</div>
											</div>
											<div class="col-md-9">
												<div>
													<h5 class="fw-bold mb-2" th:text="${list.reTitle}">리뷰제목</h5>
													<p th:text="${list.reContent}">리뷰내용</p>
													<span class="mdi mdi-star text-primary"
														th:if="${list.reStar > 0}"
														th:each="i : ${#numbers.sequence(1, list.reStar != null ? list.reStar : 0)}"></span>
													<span th:if="${list.reStar == null || list.reStar == 0}">별점
														없음</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--  review start -->
							</div>
							<!-- listing detail -->
						</div>
						<!-- listing detail -->
						<!-- listing detail -->
						<div class="card mb-4 ">
							<div class="card-body p-4">
								<form name="reviewForm" method="post"
									action="/usr/v1/infra/shop/userShopDetailReviewInst">
									<h4 class="mb-3">Reviews</h4>
									<div class="mb-3 col-6" id="mystar">
										<fieldset>
											<span for="reviewemail" class="form-label">별점</span><br>
											<input type="radio" name=reStar value="1" id="reStar">
											<label for="rate1" data-value="1">★</label> <input
												type="radio" name="reStar" value="2" id="reStar"> <label
												for="rate2" data-value="2">★</label> <input type="radio"
												name="reStar" value="3" id="reStar"> <label
												for="rate3" data-value="3">★</label> <input type="radio"
												name="reStar" value="4" id="reStar"> <label
												for="rate4" data-value="4">★</label> <input type="radio"
												name="reStar" value="5" id="reStar"> <label
												for="rate5" data-value="5">★</label>
										</fieldset>
									</div>
									<div class="mb-3 col-12">
										<label for="reTitle" class="form-label"> 리뷰 제목 </label> <input
											type="text" name="reTitle" class="form-control" id="reTitle">
									</div>
									<div class="mb-3 col-12 mt-3">
										<label for="reContent" class="form-label">리뷰 내용</label>
										<textarea class="form-control" id="reContent" name="reContent" rows="3"></textarea>
									</div>
									<div
										class="d-lg-flex justify-content-between align-items-center">
										<input type="hidden" name="reStar" id="reStarInput">
										<div id="hiddenData" data-ns-seq="${nsSeq}"></div>
										<input type="hidden" name="nsSeq" value="">
										<button type="button" id="btnReviewSubmit" class="btn btn-primary">저장</button>
									</div>
								</form>
							</div>
						</div>
						<!-- listing detail -->
						<!-- listing detail -->
						<div class="card mb-4" id="gallery">
							<div class="card-body p-4">
								<h4 class="mb-4">Gallery</h4>
								<div class="zoom-gallery">
									<div class="row">
<!-- 										<div class="col-md-4"> -->
<!-- 											<a href="/usr/v1/template/NailForest/assets/images/nail/nail1.jpg"> -->
<!-- 												<img src="/usr/v1/template/NailForest/assets/images/nail/nail1.jpg" class="img-fluid rounded-3 mb-4"> -->
<!-- 											</a> -->
<!-- 										</div> -->
										<div class="col-md-4">
											<a th:href="${shopItem?.subImg1}">
												<img th:src="${shopItem?.subImg1}" class="img-fluid rounded-3 mb-4">
											</a>
										</div>
										<div class="col-md-4">
											<a th:href="${shopItem?.subImg2}">
												<img th:src="${shopItem?.subImg2}" class="img-fluid rounded-3 mb-4">
											</a>
										</div>
										<div class="col-md-4">
											<a th:href="${shopItem?.subImg3}">
												<img th:src="${shopItem?.subImg3}" class="img-fluid rounded-3 mb-4">
											</a>
										</div>
										<div class="col-md-4">
											<a th:href="${shopItem?.subImg4}">
												<img th:src="${shopItem?.subImg4}" class="img-fluid rounded-3 mb-4">
											</a>
										</div>
										<div class="col-md-4">
											<a th:href="${shopItem?.subImg5}">
												<img th:src="${shopItem?.subImg5}" class="img-fluid rounded-3 mb-4">
											</a>
										</div>
										<div class="col-md-4">
											<a th:href="${shopItem?.subImg6}">
												<img th:src="${shopItem?.subImg6}" class="img-fluid rounded-3 mb-4">
											</a>
										</div>
										<div class="col-md-4">
											<a th:href="${shopItem?.subImg7}">
												<img th:src="${shopItem?.subImg7}" class="img-fluid rounded-3 mb-4">
											</a>
										</div>
										<div class="col-md-4">
											<a th:href="${shopItem?.subImg8}">
												<img th:src="${shopItem?.subImg8}" class="img-fluid rounded-3 mb-4">
											</a>
										</div>
										<div class="col-md-4">
											<a th:href="${shopItem?.subImg9}">
												<img th:src="${shopItem?.subImg9}" class="img-fluid rounded-3 mb-4">
											</a>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- listing detail -->
						<!-- listing detail -->
						<div class="card mb-4">
							<div class="card-body p-4">
								<h4 class="mb-1">위치</h4>
								<p th:text="${shopItem?.nsAddr + ' ' + shopItem?.nsAddrDetail}"
									id="shopAddress"
									th:attr="data-address=${shopItem?.nsAddr + ' ' + shopItem?.nsAddrDetail}"></p>
								<div id="map" style="width: 100%; height: 400px;"></div>
							</div>
						</div>
						<!-- listing detail -->
					</div>
					<div class="col-xl-4 col-lg-4 col-md-12 col-12 ">
						<!-- listing detail -->
						<div>
							<!-- listing widget -->
							<div class="card mb-4 ">
								<div class="card-body p-4">
									<div class="d-flex align-items-center mb-3">
										<h3 class="fw-bold">30,000원</h3>
										<small class="text-muted ms-2">(예약금)</small>
									</div>
									<div>
										<form name="form" method="post"
											action="/usr/v1/infra/shop/shopBookingInsert">
											<div class="mb-3">
												<label class="form-label"> 예약 </label>
												<div class="input-group mb-3">
													<input type="text" class="form-control" id="boDate"
														name="boDate" placeholder="예약날짜" autocomplete="off"
														readonly required> <span
														class="input-group-text bg-transparent"> <i
														class="mdi mdi-calendar-month-outline"></i>
													</span>
												</div>
												<input type="text" class="form-control" name="boTime"
													id="boTime" placeholder="예약시간" autocomplete="off" readonly
													required>
											</div>
											<div class="mb-3">
												<label class="form-label">Option</label>
												<div th:each="list : ${shopMenuList}">
													<div class="input-group mb-3">
														<label class="form-control custom-checkbox"> <!-- name="menuSeqs" 로 여러개의 메뉴를 배열로 서버에 전송 -->
															<input type="checkbox" id="checkbox1" name="menuSeqs" class="menu-checkbox" th:value="${list.meSeq}"
																th:attr="data-price=${list.mePrice != null ? list.mePrice : 0}" onchange="updateTotalPrice()"> 
															<input type="hidden" name="boTotalPrice" id="boTotalPriceInput">
															<!-- DB에 boTotalPrice를 넘기기위해서 hidden으로 만든다. -->
															<div class="content">
																<p class="align-left">
																	<strong><span th:text="${list.meName}">메뉴이름</span></strong>
																	<span th:text="${list.meDesc}">메뉴설명</span>
																</p>
																<div class="price-and-buttons">
																	<span class="price" th:text="${list.meTime}">소요시간</span>
																	<span th:text="${list.mePrice} + 원">가격</span>
																</div>
															</div>
														</label>
													</div>
												</div>
												<br>
												<!-- total -->
												<div class="mb-3">
													<label class="form-label">Total</label>
													<div class="input-group mb-3">
														<p>
															<span>예약 날짜 : <span id="rvDate"></span></span> <br>
															<span>예약 시간 : <span id="rvTime"></span></span> <br>
															<span>예약금 : <span id="boDeposit">30,000</span>원
															</span> <br> <span>총금액 : <span id="boTotalPrice">0</span>원
															</span>
														</p>
													</div>
												</div>
												<div class="mt-3 d-grid">
													<button type="button" class="btn btn-primary "
														id="btnBooking">예약하기</button>
												</div>
										</form>
										<!-- Vertically centered Modal -->
										<div class="modal fade" id="verticalycentered" tabindex="-1">
											<div class="modal-dialog modal-dialog-centered">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title">확인</h5>
														<button type="button" class="btn-close"
															data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<div class="modal-body">예약 내용을 모두 선택해 주세요</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-primary"
															data-bs-dismiss="modal">확인</button>
													</div>
												</div>
											</div>
										</div>
										<!-- End Vertically centered Modal-->
									</div>
								</div>
							</div>
							<!-- listing widget -->
						</div>
						<!-- listing widget -->
						<div class="card mb-4">
							<div class="card-body p-4">
								<h5 class="mb-0">
									<span class="mdi mdi-medal text-primary float-right"></span>
								</h5>
								<div class="text-center mt-4">
									<img th:src="${shopItem?.mainImg1}"
										class="rounded-circle avatar avatar-lg mb-2">
									<h5 class="mb-0" th:text="${shopItem?.nsName}"></h5>
									<p class="mb-0 mx-5 mt-3" th:text="${shopItem?.nsInfoText}"></p>
								</div>
							</div>
<!-- 							<div class="border-top card-body p-4 text-center"> -->
<!-- 								<p class="mb-0"> -->
<!-- 									응답률: <span class="text-primary">100%</span> -->
<!-- 								</p> -->
<!-- 								<p> -->
<!-- 									응답시간: <span class="text-primary">1시간 이내</span> -->
<!-- 								</p> -->
<!-- 								<div class="d-grid mx-8"> -->
<!-- 									<a href="#" class="btn btn-dark">1:1 채팅하기</a> -->
<!-- 								</div> -->
<!-- 							</div> -->
						</div>
						<!-- listing detail -->
<!-- 						<div class="d-grid"> -->
<!-- 							<a href="#" class="btn btn-light mb-4"> <i -->
<!-- 								class="mdi mdi-flag-variant-outline me-1"></i> 신고하기 -->
<!-- 							</a> -->
<!-- 						</div> -->
					</div>
				</div>
			</div>
		</div>

		<!-- ======= footer ======= -->
		<div th:replace="~{usr/v1/infra/common/footer :: div}"></div>
		<!-- ======= End footer ======= -->

	</div>
	<!-- scripts  -->

	<!-- Libs JS -->
	<script
		src="/usr/v1/template/NailForest/assets/libs/jquery/dist/jquery.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/owl.carousel/dist/owl.carousel.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/select2/dist/js/select2.full.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/select2/dist/js/select2.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/jquery-raty-js/lib/jquery.raty.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/quill/dist/quill.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/uppy/dist/uppy.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/litepicker/dist/litepicker.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/prismjs/prism.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/leaflet/dist/leaflet.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/nouislider/dist/nouislider.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/wnumb/wNumb.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/simplebar/dist/simplebar.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/apexcharts/dist/apexcharts.min.js"></script>



	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>

	<!-- Theme JS -->
	<script src="/usr/v1/template/NailForest/assets/js/theme.min.js"></script>

	<!-- by developer -->
	<script src="/xdm/v1/jquery/jquery-3.7.1.min.js"></script>
	<script src="/xdm/v1/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>
	<!-- Magnific Popup JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
	

	<!-- KAKAO MAP API services 라이브러리 불러오기 -->
	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4e7a4c61c5d2d5eec0befbefd5116181&libraries=services"></script>

	<script type="text/javascript">
	// ========== 카카오 지도 API START ========== //
		// 주소
		var addr = document.getElementById('shopAddress').getAttribute('data-address');
	
		// KAKAO MAP API
		var mapContainer  = document.getElementById('map'); //지도를 표시할 div
		var mapOption  = { //지도를 생성할 때 필요한 기본 옵션
			center: new kakao.maps.LatLng(33.450701, 126.570667), //지도의 중심좌표.
			level: 3 //지도의 레벨(확대, 축소 정도)
		};
		
		// 지도를 생성
		var map = new kakao.maps.Map(mapContainer, mapOption); //지도 생성 및 객체 리턴
		
		// 주소를 좌표로 변환하는 객체 생성
		var geocoder = new kakao.maps.services.Geocoder();
		
		// 주소로 좌표를 검색
		geocoder.addressSearch(addr, function(result, status) {

		    // 정상적으로 검색이 완료됐으면 
		     if (status === kakao.maps.services.Status.OK) {

		        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

		        // 결과값으로 받은 위치를 마커로 표시
		        var marker = new kakao.maps.Marker({
		            map: map,
		            position: coords
		        });
		       
		     	// 지도의 중심을 결과값으로 받은 위치로 이동
		        map.setCenter(coords);
		     }
		});
	// ========== 카카오 지도 API END ========== //

	// ========== 리뷰 별 START ========== //
		// 리뷰 별 
	    const stars = document.querySelectorAll('#mystar label');
	 	// 선택된 별점 값을 저장하는 변수
	    let selectedValue = 0; 
	
	    // 별에 마우스 올렸을 때 해당 별과 왼쪽 별들 채우기
	    stars.forEach(star => {
	        star.addEventListener('mouseover', () => {
	            const value = parseInt(star.getAttribute('data-value'));
	            stars.forEach((s, index) => {
	                if (index < value) {
	                    s.style.color = 'rgba(250, 208, 0, 0.99)';
	                } else {
	                    s.style.color = 'transparent';
	                }
	            });
	        });
	
	     	// 마우스가 별 밖으로 나가면 선택된 상태 유지
	        star.addEventListener('mouseout', () => {
	            stars.forEach((s, index) => {
	                if (index < selectedValue) {
	                    s.style.color = 'rgba(250, 208, 0, 0.99)';
	                } else {
	                    s.style.color = 'transparent';
	                }
	            });
	        });
	
	     	// 별 클릭 시 선택 상태 저장 및 유지
	        star.addEventListener('click', () => {
	            selectedValue = parseInt(star.getAttribute('data-value')); // 선택된 값 저장
	            console.log("별점값: " + selectedValue);
	            stars.forEach((s, index) => {
	                if (index < selectedValue) {
	                    s.style.color = 'rgba(250, 208, 0, 0.99)';
	                } else {
	                    s.style.color = 'transparent';
	                }
	            });
	            
	            // selectedValue에 저장된 별점 값 html필드에 설정
	            document.getElementById("reStarInput").value = selectedValue;
	        });
	    });
	 // ========== 리뷰 별 END ========== //
	 
	 
	 
	 
	 // ========== 리뷰 insert START ========== //
	// nsSeq 값 전달
	document.addEventListener('DOMContentLoaded', () => {
		const urlParams = new URLSearchParams(window.location.search);
	    const nsSeq = urlParams.get('nsSeq');
	    if (nsSeq) {
	    	document.querySelector('input[name="nsSeq"]').value = nsSeq;
		}
		console.log("nsSeq: " + nsSeq);
	});
	 
	// 리뷰 저장 버튼 클릭 시
	document.getElementById('btnReviewSubmit').onclick = function() {
		const nsSeq = document.querySelector('input[name="nsSeq"]').value; 
	    // 선택된 별점 값이 있을 때만 처리
	    if (selectedValue > 0) {
	
		    // Ajax로 데이터를 전송
		    $.ajax({ // AJAX 요청을 시작하는 jQuery 메서드
				async : true, // 요청을 비동기로 처리 (기본값이 true라 생략 가능)
				cache : false, // 요청 결과를 캐시하지 않도록 설정
				type : "post", // HTTP 메서드를 POST로 설정
				/* ,dataType:"json" */
				url : '/usr/v1/infra/shop/userShopDetailReviewInst', // 요청을 보낼 URL
				/* ,data : $("#formLogin").serialize() */
				data : {
					"reTitle" : $("#reTitle").val(),
					"reContent" : $("#reContent").val(),
					"reStar" : selectedValue,	// 별점 가져와서 전송
					"nsSeq" : nsSeq
				},
				success : function(response) { // 요청이 성공적으로 완료되면 실행될 함수
					if (response.rt == "success") {
						alert("리뷰저장성공");
						// append 추가
						let target = '';
						target += '<div class="col-md-12 mb-5">';
						target += '	<div class="row">';
						target += '		<div class="col-md-3">';
						target += '			<div>';
						target += '				<img src="/usr/v1/template/NailForest/assets/images/nail/womanIcon32.png"';
						target += '					alt="Rentkit Directory & Listing Bootstrap 5 Theme" class="avatar-md avatar rounded-circle mb-3">';
						target += '				<h5 class="mb-n1">' + (response.reId) + '</h5>';
						target += '				<small>' + (response.reRegDate != null ? formatDate(response.reRegDate) : '등록일 없음') + '</small>';
						target += '			</div>';
						target += '		</div>';
						target += '		<div class="col-md-9">';
						target += '			<div>';
						target += '				<h5 class="fw-bold mb-2">' + (response.reTitle) + '</h5>';
						target += '				<p>' + (response.reContent) + '</p>';
						target += '				<span>' + (response.reStar == null || response.reStar == 0 ? '별점 없음' : '') + '</span>';
						target += '			</div>';
						target += '		</div>';
						target += '	</div>';
						target += '</div>';
							
// 						$("#target").append(target);
						$("#target").prepend(target);
						
						// 입력창초기화
		                $("#reTitle").val('');
		                $("#reContent").val('');
// 		                $("#htrecomments").val('');
							
					} else { // insert 실패 시 alert 창을 띄움
						alert("리뷰저장실패");
					}
				}
			});
	    }
	};
	 // ========== 리뷰 insert END ========== //
	 
	 
 	
	 // ========== Datetimepicker START ========== //
		// 예약 날짜,시간 검색 - datetimepicker
	    window.addEventListener('load', function () {
	        $.datetimepicker.setLocale('ko');
	        
	        // 날짜 선택 필드 초기화
	        $("#boDate").datetimepicker({ 
	            timepicker: false,    // 시간 선택 비활성화
	            format: 'Y-m-d'      // 날짜 형식
	        }).on('change', function () {
	            // 날짜 선택 시 rvDate에 값 반영
	            const selectedDate = $(this).val();
	            $('#rvDate').text(selectedDate);
	        });
	
	        // 시간 선택 필드 초기화
	        $("#boTime").datetimepicker({ 
	            datepicker: false,    // 날짜 선택 비활성화
	            timepicker: true,     // 시간 선택 활성화
	            format: 'H:i',        // 시간 형식 (24시간제)
	            step: 30              // 30분 단위
	        }).on('change', function () {
	            // 시간 선택 시 rvTime에 값 반영
	            const selectedTime = $(this).val();
	            $('#rvTime').text(selectedTime);
	        });
    	});
	 // ========== Datetimepicker END ========== //
		
	 
	 // ========== 메뉴 가격합산, seq 처리 START ========== //
		// 메뉴 가격 합산 및 선택된 메뉴 seq 처리
		function updateTotalPrice() {
		    let total = 0; // 총 금액 초기화
		    let selectedMenuSeqs = []; // 선택된 메뉴 seq 배열 초기화
		
		    // 선택된 체크박스들의 데이터(가격, seq)를 처리
		    document.querySelectorAll('.menu-checkbox:checked').forEach(checkbox => {
		        const price = checkbox.getAttribute('data-price'); // data-price 읽기
		        console.log('data-price:', price); // 디버깅 출력
		
		        const priceValue = isNaN(price) || price === null || price === '' ? 0 : parseInt(price, 10);	// Nan  방지
		
		        total += priceValue; // 총 금액 합산
		        selectedMenuSeqs.push(checkbox.value); // 메뉴 seq 저장
		    });
		
		    // 총 금액을 화면에 표시 (boTotalPrice)
		    document.getElementById('boTotalPrice').textContent = total.toLocaleString(); // 숫자 형식화
		
		    // 총 금액을 hidden 필드에 설정
		    document.getElementById('boTotalPriceInput').value = total;
		
		    // 선택된 메뉴 seq를 디버깅 로그로 출력
		    console.log('선택된 메뉴 seq:', selectedMenuSeqs);
		    console.log('총 금액:', total);
		}
	 // ========== 메뉴 가격합산, seq 처리 END ========== //

	 
		
	 // ========== 예약하기 버튼 START ========== //
		// 예약하기 버튼 - insert
		document.getElementById('btnBooking').onclick = function(){
		 	
		 	// 예약 날짜와 시간 가져오기
		 	const boDate = document.getElementById('boDate').value;
    		const boTime = document.getElementById('boTime').value;
    		
    		// 메뉴 체크박스 선택여부 확인
    		const menuCheckboxes = document.querySelectorAll('.menu-checkbox');
    		const isMenuSelected = Array.from(menuCheckboxes).some(checkbox => checkbox.checked);
    		
    		// 모든 조건 확인
    	    if (!boDate || !boTime || !isMenuSelected) {
    	      // 조건 만족하지 않으면 모달 표시
    	      const modal = new bootstrap.Modal(document.getElementById('verticalycentered'));
    	      modal.show();
    	    } else {
    	      // 조건 만족 시 폼 전송
    	      document.forms['form'].action = "/usr/v1/infra/shop/shopBookingInsert";
    	      document.forms['form'].submit();
    	    }
		};
	 // ========== 예약하기 버튼 END ========== //
		
		// LogoutProc
		document.getElementById("SignoutBtn").onclick = function() {
			alert("로그아웃 성공");
			$.ajax({
				async : true,
				cache : false,
				type : "post"
				/* ,dataType:"json" */
				,
				url : "/usr/v1/infra/user/userShopSignoutProc"
				/* ,data : $("#formLogin").serialize() */
				,
				success : function(response) {
					if (response.rt == "success") {
						location.href = "/usr/v1/infra/user/userShopMain";
					} else {
						// by pass
					}
				}
			});
		}
	</script>
</body>
</html>