<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- ======= Head ======= -->
<div th:replace="~{usr/v1/infra/common/head :: head}"></div>
<!-- ======= End Head ======= -->

<body>
	<!-- main wrapper -->
	<div class="main-wrapper">
		<!-- navbar -->

		<!--  Header ======= -->
		<div th:replace="~{usr/v1/infra/common/header :: div}"></div>
		<!-- ======= End Header ======= -->

		<!-- pageheader -->
		<div class="py-6 py-lg-8 ">
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-md-8  col-12">
						<h1 class="display-5 fw-bold mb-2">예약내역</h1>
						<p class="lead">
						</p>
						<!-- breadcrumb -->
						<nav aria-label="breadcrumb" class="mt-5">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">Home</li>
								<li class="breadcrumb-item active">Booking</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- content -->
		<div class="pb-lg-11 pb-7">
			<div class="container">
				<form name="form" method="post" action="/usr/v1/infra/shop/userShopList">
					<input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1" /> 
					<input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}" />
					<div class="row mb-3">
						<div class="col-md-2">
							<a th:text="'Total: ' + ${vo.totalRows}">Total : 171</a>
						</div>
						<div class="col-md-8"></div>
						<div class="col-md-2">
							<select class="form-select form-select-sm" id="changeRowNum" name="changeRowNum">
								<option value="5" th:selected="${vo.rowNumToShow eq 5}">5</option>
								<option value="10" th:selected="${vo.rowNumToShow eq 10}">10</option>
								<option value="15" th:selected="${vo.rowNumToShow eq 15}">15</option>
								<option value="20" th:selected="${vo.rowNumToShow eq 20}">20</option>
								<option value="25" th:selected="${vo.rowNumToShow eq 25}">25</option>
								<option value="30" th:selected="${vo.rowNumToShow eq 30}">30</option>
							</select>
						</div>

						<!-- Table with stripped rows -->
						<!-- Default Table -->
						<table class="table">
							<thead>
								<tr align="center">
									<th>
										<input class="form-check-input" type="checkbox" id="gridCheck1">
									</th>
									<th>NO</th>
									<th>예약번호</th>
									<th>샵 이름</th>
									<th>예약일</th>
									<th>예약시간</th>
									<th>예약금</th>
									<th>총금액</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${#lists.isEmpty(userBookingList)}">
									<td colspan="9" align="center">No Data!!</td>
								</tr>
								<tr th:if="!${#lists.isEmpty(userBookingList)}" th:each="list : ${userBookingList}" align="center">
									<td>
										<input class="form-check-input" type="checkbox" id="gridCheck1">
									</td>
									<td th:text="${vo.totalRows - ((vo.thisPage - 1) * vo.rowNumToShow + listStat.index)}"></td>
									<td th:text="${list.boSeq}"></td>
<!-- 									<td th:text="${list.nsName}"></td> -->
									<td>
										<a th:href="@{/usr/v1/infra/shop/userShopBookingDetail(boSeq=${list?.boSeq})}" th:text="${list.nsName}"></a>
									</td>
									<td th:text="${#dates.format(list?.boDate, 'yyyy-MM-dd')}">예약일</td>
									<td th:text="${#dates.format(list?.boTime, 'HH:mm')}">예약시간</td>
									<td th:text="${#numbers.formatInteger(list.boDeposit, 3, 'COMMA')}"></td>
									<td th:text="${#numbers.formatInteger(list.boTotalPrice, 3, 'COMMA')}"></td>
								</tr>
							</tbody>
						</table>
						<!-- End Table with stripped rows -->

						<!--pagination start-->
						<nav aria-label="Page navigation example">
							<ul class="pagination justify-content-center">
								<li class="page-item disabled" th:if="${vo.startPage gt vo.pageNumToShow}" style="cursor: pointer;">
									<a class="page-link" aria-label="Previous" href="javascript:goList(${vo.startPage - 1})" 
										th:attr="onclick=|goList('${vo.startPage - 1}')|"> 
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								<li class="page-item" th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" 
						 			th:classappend="${num eq vo.thisPage} ? active : ''" style="cursor: pointer;">
									<a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}"></a>
								</li>
								<li class="page-item" th:if="${vo.endPage ne vo.totalPages}" style="cursor: pointer;">
									<a class="page-link" aria-label="Next" th:attr="onclick=|goList('${vo.endPage + 1}')|"> 
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>
						<!--pagination end-->
					</div>
				</form>
				<!--pagination end-->
				<!-- shop list end -->
			</div>
		</div>
	</div>
	<!-- ======= footer ======= -->
		<div th:replace="~{usr/v1/infra/common/footer :: div}"></div>
	<!-- ======= End footer ======= -->
	</div>

	<!-- scripts  -->
	<!-- Libs JS -->
	<script
		src="/usr/v1/template/NailForest/assets/libs/jquery/dist/jquery.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/owl.carousel/dist/owl.carousel.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/select2/dist/js/select2.full.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/select2/dist/js/select2.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/jquery-raty-js/lib/jquery.raty.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/quill/dist/quill.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/uppy/dist/uppy.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/litepicker/dist/litepicker.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/prismjs/prism.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/leaflet/dist/leaflet.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/nouislider/dist/nouislider.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/wnumb/wNumb.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/simplebar/dist/simplebar.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/apexcharts/dist/apexcharts.min.js"></script>



	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>

	<!-- Theme JS -->
	<script src="/usr/v1/template/NailForest/assets/js/theme.min.js"></script>

	<script type="text/javascript">
		// paging
		goList = function(thisPage) {
			document.querySelector("input[name=thisPage]").value = thisPage;
			document.querySelector("form[name=form]").action = "/usr/v1/infra/shop/userShopBookingList";
			document.querySelector("form[name=form]").submit();
		}
		// 리스트 개수 조절 - changeRowNum
		document.getElementById("changeRowNum").onchange = function () {
		    document.getElementById("rowNumToShow").value = document.getElementById("changeRowNum").value;
		    form.action = "/usr/v1/infra/shop/userShopBookingList";
		    form.submit();
		}
		// LogoutProc
		document.getElementById("SignoutBtn").onclick = function() {
			alert("로그아웃 성공");
			$.ajax({
				async : true,
				cache : false,
				type : "post"
				/* ,dataType:"json" */
				,
				url : "/usr/v1/infra/user/userShopSignoutProc"
				/* ,data : $("#formLogin").serialize() */
				,
				success : function(response) {
					if (response.rt == "success") {
						location.href = "/usr/v1/infra/user/userShopMain";
					} else {
						// by pass
					}
				}
			});
		}
	</script>
</body>
</html>