<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- ======= Head ======= -->
<div th:replace="~{usr/v1/infra/common/head :: head}"></div>
<!-- ======= End Head ======= -->

<body>
	<!-- main wrapper -->
	<div class="main-wrapper">
		<!-- navbar -->

		<!-- ======= Header ======= -->
		<div th:replace="~{usr/v1/infra/common/header :: div}"></div>
		<!-- ======= End Header ======= -->

		<!-- content -->
		<div class="py-11 py-7">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-md-12 col-12">
						<div class="card checkout-form">
							<div class="card-body p-5">
								<h4 class="mb-4 border-bottom pb-2"></h4>
								<!-- form -->
								<form class="row">
									<div align="center">
										<div class="col-md-12">
											<h1>예약이 완료되었습니다.</h1>
										</div>
										<!-- meta -->
										<div class="col-md-12">
											<div class="d-flex justify-content-between align-items-center" align="center">
												<div align="center">
													<button class="btn btn-primary" type="submit" align="center">홈으로
														이동</button>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<!-- footer section -->
		<div class="footer pt-14 bg-dark ">
			<div class="container">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-4 col-6">
						<!-- footer widget  -->
						<div class="mb-14">
							<h4 class=" mb-3 text-white">Explore Rentkit</h4>
							<div>
								<ul class="list-unstyled">
									<li><a href="#" class="text-reset lh-lg">List your
											property</a></li>
									<li><a href="#" class="text-reset lh-lg">Book with
											Confidence</a></li>
									<li><a href="#" class="text-reset lh-lg">Trust &
											Safety</a></li>
									<li><a href="#" class="text-reset lh-lg">Vacation
											rental guides</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xl-2 col-lg-2 col-md-4 col-6">
						<!-- footer widget  -->
						<div class="mb-14">
							<h4 class=" mb-3  text-white">For Owner</h4>
							<div>
								<ul class="list-unstyled">
									<li><a href="#" class="text-reset lh-lg">How it works</a></li>
									<li><a href="#" class="text-reset lh-lg">Pricing</a></li>
									<li><a href="#" class="text-reset lh-lg">Join as Owner</a></li>
									<li><a href="#" class="text-reset lh-lg">Help centre</a></li>
									<li><a href="#" class="text-reset lh-lg">Mobile App</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xl-2 col-lg-2 col-md-4 col-6">
						<div class="mb-14">
							<h4 class=" mb-3  text-white">Company</h4>
							<div>
								<ul class="list-unstyled">
									<li><a href="#" class="text-reset lh-lg">About us</a></li>
									<li><a href="#" class="text-reset lh-lg">Careers</a></li>
									<li><a href="#" class="text-reset lh-lg">Clients</a></li>
									<li><a href="#" class="text-reset lh-lg">Team</a></li>
									<li><a href="#" class="text-reset lh-lg">Help Center</a></li>
									<li><a href="#" class="text-reset lh-lg">Press</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- footer widget  -->
					<div class="col-xl-2 col-lg-2 col-md-4 col-6">
						<div class="mb-14">
							<h4 class=" mb-3  text-white">Social</h4>
							<div>
								<ul class="list-unstyled">
									<li><a href="#" class="text-reset lh-lg">Facebook</a></li>
									<li><a href="#" class="text-reset lh-lg">Twitter</a></li>
									<li><a href="#" class="text-reset lh-lg">Linkedin</a></li>
									<li><a href="#" class="text-reset lh-lg">Google</a></li>
									<li><a href="#" class="text-reset lh-lg">Instagram</a></li>
								</ul>
							</div>
							<!-- footer widget  -->
						</div>
					</div>
					<!-- footer widget  -->
					<div class="col-xl-4 col-lg-4 col-md-8 col-12">
						<div class="mb-14">
							<h4 class=" mb-3  text-white">Rentkit deals in your inbox ?</h4>
							<p class="text-reset  ">Get special offers, travel
								inspiration, and more from Rentkit</p>
							<form>
								<div class="input-group mb-3">
									<input type="text" class="form-control"
										placeholder="Enter your email" aria-label="Enter your email"
										aria-describedby="subscriber"> <span
										class="btn btn-primary" id="subscriber">Subscribe</span>
								</div>



							</form>
							<!-- footer widget  -->
						</div>
					</div>
					<div class="col-md-12 col-12">
						<p class="fs-6 text-gray-500">© 2021 Rentkit. All rights
							reserved.</p>
					</div>
				</div>
				<!-- tiny footer  -->
				<!-- footer section -->
			</div>
			<!-- footer section -->
		</div>
	</div>
	<!-- scripts -->
	<!-- Libs JS -->
	<script
		src="/usr/v1/template/NailForest/assets/libs/jquery/dist/jquery.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/owl.carousel/dist/owl.carousel.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/select2/dist/js/select2.full.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/select2/dist/js/select2.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/jquery-raty-js/lib/jquery.raty.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/quill/dist/quill.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/uppy/dist/uppy.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/litepicker/dist/litepicker.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/prismjs/prism.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/leaflet/dist/leaflet.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/nouislider/dist/nouislider.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/wnumb/wNumb.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/simplebar/dist/simplebar.min.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/apexcharts/dist/apexcharts.min.js"></script>



	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>

	<!-- Theme JS -->
	<script src="/usr/v1/template/NailForest/assets/js/theme.min.js"></script>
	
	<script type="text/javascript">
	// LogoutProc
	document.getElementById("SignoutBtn").onclick = function() {
		alert("로그아웃 성공");
		$.ajax({
			async : true,
			cache : false,
			type : "post"
			/* ,dataType:"json" */
			,
			url : "/usr/v1/infra/user/userShopSignoutProc"
			/* ,data : $("#formLogin").serialize() */
			,
			success : function(response) {
				if (response.rt == "success") {
					location.href = "/usr/v1/infra/user/userShopMain";
				} else {
					// by pass
				}
			}
		});
	}
	</script>
</body>
</html>