<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- ======= Head ======= -->
<div th:replace="~{usr/v1/infra/common/head :: head}"></div>
<!-- ======= End Head ======= -->

<body>
	<!-- main wrapper -->
	<div class="main-wrapper">
		<!-- navbar -->
		
		<!-- ======= Header ======= -->
		<div th:replace="~{usr/v1/infra/common/header :: div}"></div>
		<!-- ======= End Header ======= -->
		
		<!-- content -->
		<div class="py-11 py-7">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-md-12 col-12">
						<div class="card checkout-form">
							<div class="card-body p-5">
								<h4 class="mb-4 border-bottom pb-2">예약 정보</h4>
								<!-- form -->
								<form class="row" name="form" method="post" action="/usr/v1/infra/shop/userShopPaymentUpt">
									<!-- booking테이블의 boSeq 정보 bookingUpdate에 넘겨주기 -->
									<input type="hidden" name="boSeq" th:value="${bookingItem?.boSeq}">
									<!-- 예약날짜 -->
									<div class="mb-3 col-md-6">
										<label class="form-label"> 
											예약날짜
											<span class="text-danger">*</span>
										</label> 
										<input type="text" class="form-control" id="boDate" name="boDate" th:value="${#dates.format(bookingItem?.boDate, 'yyyy-MM-dd')}" readonly>
									</div>
									<!-- 예약시간 -->
									<div class="mb-3 col-md-6">
										<label class="form-label"> 
											예약시간
											<span class="text-danger">*</span>
										</label> 
										<input type="text" class="form-control" id="boTime" name="boTime" th:value="${#dates.format(bookingItem?.boTime, 'HH:mm')}" readonly>
									</div>
									<!-- name -->
									<div class="mb-3 col-md-6">
										<label for="fname" class="form-label"> 
											이름 
											<span class="text-danger">*</span>
										</label> 
										<input type="text" class="form-control" id="usrName" name="usrName" th:value="${bookingItem?.usrName}" readonly>
									</div>
									<!-- phone -->
									<div class="mb-3 col-md-6">
										<label for=text class="form-label"> 
											전화번호 
											<span class="text-danger">*</span>
										</label> 
										<input type="text" class="form-control" id="usrPhone" name="usrPhone" th:value="${bookingItem?.usrPhone}" readonly>
									</div>
									<!-- ShopName -->
									<div class="mb-3 col-md-6">
										<label class="form-label"> 
											shop 이름 
											<span class="text-danger">*</span>
										</label> 
										<input type="text" class="form-control" id="nsName" name="nsName" th:value="${shopItem?.nsName}" readonly>
									</div>
									<!-- ShopAddr -->
									<div class="mb-3 col-md-6">
										<label class="form-label"> 
											shop 주소 
											<span class="text-danger">*</span>
										</label> 
										<input type="text" class="form-control" id="nsAddr" name="nsAddr" 
											th:value="${#strings.isEmpty(shopItem?.nsAddr) ? '' : shopItem?.nsAddr} + ' ' + ${#strings.isEmpty(shopItem?.nsAddrDetail) ? '' : shopItem?.nsAddrDetail}" readonly>
									</div>
									
									<!-- 여백 추가 -->
									<div class="w-100 my-3"></div>
									
									<!-- 선택한 메뉴 -->
									<div class="col-md-12">
										<h4 class="mb-4 border-bottom pb-2">선택한 메뉴</h4>
									</div>
									<div class="mb-3 col-md-6">
										<div th:each="list : ${bookingMenuList}">
									        <div class="d-flex justify-content-between">
									            <span th:text="${list.meName}"></span>
									            <span th:text="${#numbers.formatInteger(list.mePrice, 0, 'COMMA')}"></span>
									        </div>
									    </div>
									</div>
									
									<!-- 여백 추가 -->
									<div class="w-100 my-3"></div>
									
									<!-- payment details -->
									<div class="col-md-12">
										<h4 class="mb-4 border-bottom pb-2">결제 정보</h4>
									</div>
									<div class="col-md-12">
										<div class="d-flex flex-wrap mb-4">
											<!-- payment -->
											<div class="mb-3 col-md-6">
												<label for="text" class="form-label"> 
													결제수단 선택
													<span class="text-danger">*</span>
												</label> <br>
												<input type="radio" name="boPayment" value="15"> 카카오페이
												<img src="/usr/v1/template/NailForest/assets/images/payment-icon/kakaopay-icon.png" style="height: 20px; width: 48px;">
												<br>
												<input type="radio" name="boPayment" value="16"> 신용카드/체크카드
												<img src="/usr/v1/template/NailForest/assets/images/payment-icon/visa-icon.png" style="height: 30px; width: 30px;">
						                        <img src="/usr/v1/template/NailForest/assets/images/payment-icon/mastercard-icon.png" style="height: 30px; width: 30px;">
						                        <img src="/usr/v1/template/NailForest/assets/images/payment-icon/unionpay-icon.png" style="height: 30px; width: 30px;">
						                        <img src="/usr/v1/template/NailForest/assets/images/payment-icon/jcb-icon.png" style="height: 30px; width: 30px;">
						                        <img src="/usr/v1/template/NailForest/assets/images/payment-icon/american-icon.png" style="height: 30px; width: 30px;">
												<br>
												<input type="radio" name="boPayment" value="17"> 무통장입금
												<br>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<h4 class="mb-4 border-bottom pb-2">결제 금액</h4>
									</div>
									<!-- meta -->
									<div class="col-md-12">
										<div class="d-flex justify-content-between align-items-center">
											<div>
												<p class="mb-1 text-lg text-dark">
													(예약금) 
													<span name="boDeposit" id="boDeposit" th:text="${#numbers.formatInteger(bookingItem?.boDeposit, 0, 'COMMA')}">
													</span>
													원
												</p>
											</div>
											<div>
												<button class="btn btn-primary" type="submit" id="btnSubmit">
													결제 하기
												</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- ======= footer ======= -->
		<div th:replace="~{usr/v1/infra/common/footer :: div}"></div>
	<!-- ======= End footer ======= -->
	</div>
	<!-- scripts -->
	<!-- Libs JS -->
	<script src="/usr/v1/template/NailForest/assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/owl.carousel/dist/owl.carousel.min.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/select2/dist/js/select2.full.min.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/select2/dist/js/select2.min.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/jquery-raty-js/lib/jquery.raty.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/quill/dist/quill.min.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/uppy/dist/uppy.min.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/litepicker/dist/litepicker.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/prismjs/prism.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/leaflet/dist/leaflet.js"></script>
	<script
		src="/usr/v1/template/NailForest/assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/nouislider/dist/nouislider.min.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/wnumb/wNumb.min.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/simplebar/dist/simplebar.min.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/apexcharts/dist/apexcharts.min.js"></script>



	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>

	<!-- Theme JS -->
	<script src="/usr/v1/template/NailForest/assets/js/theme.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
	<script type="text/javascript">
		
		// 카카오페이 결제 팝업창 연결
		// step1
// 		$(function(){
// 			$("#btnSubmit").click(function(e){
				
// 				e.preventDefault(); // 기본 폼 동작 방지 (클릭 시 새로고침 방지)
				
// 				// 아래 데이터 외에도 필요한 데이터를 원하는 대로 담고, Controller에서 @RequestBody로 받으면 됨
// 	            let data = {
// 	                name: '상품명',    // 카카오페이에 보낼 대표 상품명
// 	                totalPrice: 30000 // 총 결제금액
// 	            };
	          
// 	            $.ajax({
// 	                type: 'POST',
// 	                url: 'http://localhost:8080/order/pay/ready',
// 	                data: JSON.stringify(data),
// 	                contentType: 'application/json',
// 	                success: function(response) {
// 	                    location.href = response.next_redirect_pc_url;
// 	                }
// 	            });
// 			});
// 		});
		
		// step2
// 		document.getElementById("btnSubmit").addEventListener("click", function () {
// 		    // 결제에 필요한 데이터를 서버로 보냄
// 		    const requestData = {
// 		        name: "상품 이름",
// 		        totalPrice: 30000 // 총 결제 금액
// 		    };
		
// 		    // Ajax 호출
// 		    fetch("/order/pay/ready", {
// 		        method: "POST",
// 		        headers: {
// 		            "Content-Type": "application/json"
// 		        },
// 		        body: JSON.stringify(requestData)
// 		    })
// 		    .then(response => response.json())
// 		    .then(data => {
// 		        if (data.next_redirect_pc_url) {
// 		            // 카카오페이 결제 페이지로 이동
// 		            window.location.href = data.next_redirect_pc_url;
// 		        } else {
// 		            alert("결제 준비 중 문제가 발생했습니다. 다시 시도해주세요.");
// 		        }
// 		    })
// 		    .catch(error => {
// 		        console.error("Error during payment request:", error);
// 		        alert("결제 요청에 실패했습니다. 관리자에게 문의해주세요.");
// 		    });
// 		});
		
		document.getElementById("btnSubmit").onclick = function(){
			form.action = "/usr/v1/infra/shop/userShopPaymentUpt";
			form.submit();
		}

		// LogoutProc
		document.getElementById("SignoutBtn").onclick = function() {
			alert("로그아웃 성공");
			$.ajax({
				async : true,
				cache : false,
				type : "post"
				/* ,dataType:"json" */
				,
				url : "/usr/v1/infra/user/userShopSignoutProc"
				/* ,data : $("#formLogin").serialize() */
				,
				success : function(response) {
					if (response.rt == "success") {
						location.href = "/usr/v1/infra/user/userShopMain";
					} else {
						// by pass
					}
				}
			});
		}
	</script>
	
</body>
</html>