<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Forms / Validation - NiceAdmin Bootstrap Template</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="/xdm/v1/template/Lonely/assets/img/favicon.png" rel="icon">
<link href="/xdm/v1/template/Lonely/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/xdm/v1/template/Lonely/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/xdm/v1/template/Lonely/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/xdm/v1/template/Lonely/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="/xdm/v1/template/Lonely/assets/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="/xdm/v1/template/Lonely/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
<link href="/xdm/v1/template/Lonely/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="/xdm/v1/template/Lonely/assets/vendor/simple-datatables/style.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/xdm/v1/template/Lonely/assets/css/style.css" rel="stylesheet">

<!-- by developer -->
<link rel="stylesheet" href="/xdm/v1/css/datetimepicker/jquery.datetimepicker.min.css" />

<!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

	<!-- ======= Header ======= -->
      <div th:replace="~{xdm/v1/infra/common/header :: header}"></div>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
      <div th:replace="~{xdm/v1/infra/common/sidebar :: aside}"></div>
    <!-- End Sidebar-->

	<main id="main" class="main">

		<div class="pagetitle">
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Page 1</a></li>
					<li class="breadcrumb-item"><a href="index.html">Page 2</a></li>
					<li class="breadcrumb-item active">Default</li>
				</ol>
			</nav>
			<h1>USER</h1>
		</div>
		<!-- End Page Title -->

		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Form</h5>

							<!-- Custom Styled Validation -->
							<form name="form" method="post" action="/xdm/v1/infra/user/userXdmUpdt" class="needs-invalidation" novalidate>
								<div class="row mb-3">
									<div class="col-md-3">
										<label class="form-label"> 
											회원번호 
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="usrSeq" th:value="${usrItem?.usrSeq}"
											placeholder="자동생성" style="background-color: #E9ECEF;" readonly>
									</div>
									<div class="col-md-3">
										<label class="form-label">
										 	관리자여부 
										 	<a style="color: red;">*</a>
										</label> 
										<select class="form-select" name="usrXdmNy" id="usrXdmNy" disabled>
											<option value="1" th:selected="${usrItem?.usrXdmNy == 1}">Y</option>
											<option value="0" th:selected="${usrItem?.usrXdmNy == 0}">N</option>
										</select>
									</div>
									<div class="col-md-3">
										<label class="form-label">
										 	이름 
										 	<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="usrName" id="usrName" th:value="${usrItem?.usrName}" placeholder="이름" required>
										<div class="invalid-feedback" id="usrNameFeedback">이름을 입력해 주세요.</div>
										<div class="invalid-feedback" id="usrNameRegExpFeedback">이름은 한글만 입력해 주세요.</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-3">
										<label class="form-label"> 
											아이디 
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="usrId" id="usrId" th:value="${usrItem?.usrId}" placeholder="영대소문자, 숫자조합 6~15자" required>
										<div class="invalid-feedback" id="usrIdFeedback">아이디를 입력해 주세요.</div>
										<div class="invalid-feedback" id="usrIdRegExpFeedback">아이디는 영대소문자, 숫자조합 6~15자로 입력해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											비밀번호 
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="usrPw" id="usrPw" th:value="${usrItem?.usrPw}" placeholder="영대소문자, 숫자, 특수문자조합 8~15자" required>
										<div class="invalid-feedback" id="usrPwFeedback">비밀번호를 입력해 주세요.</div>
										<div class="invalid-feedback" id="usrPwRegExpFeedback">비밀번호는 영대소문자, 숫자, 특수문자!@#$%^*+=-조합 8~15자로 입력해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label">
										 	성별 
										 	<a style="color: red;">*</a>
										</label> 
										<select class="form-select" name="usrGender" id="usrGender" required>
											<option value="">성별</option>
											<option th:each="list : ${@codeService.selectListCachedCode(1)}"
												th:value="${list.ifcdSeq}" th:text="${list.ifcdName}"
												th:selected="${list.ifcdSeq} == ${usrItem?.usrGender}">
											</option>
										</select>
										<div class="invalid-feedback">성별을 선택해 주세요.</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-3">
										<label class="form-label">
											생년월일
											<a style="color: red;">*</a>
										</label> 
										<input type="datetime" class="form-control" name="usrBirth" id="usrBirth" th:value="${#dates.format(usrItem?.usrBirth, 'yyyy-MM-dd')}" placeholder="YYYY-MM-DD" autocomplete="off" readonly required>
										<div class="invalid-feedback" id="usrBirthFeedback">생년월일을 입력해 주세요.</div>
										<div class="invalid-feedback" id="usrBirthRegExpFeedback">YYYY-MM-DD형식으로 입력해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											이메일 
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="usrEmail" id="usrEmail" th:value="${usrItem?.usrEmail}" placeholder="이메일" required>
										<div class="invalid-feedback" id="usrEmailFeedback">이메일을 입력해 주세요.</div>
										<div class="invalid-feedback" id="usrEmailRegExpFeedback">이메일을 형식에 맞게 입력해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label"> 
											전화번호 
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="usrPhone" id="usrPhone" th:value="${usrItem?.usrPhone}" placeholder="'-'빼고 입력해 주세요." required>
										<div class="invalid-feedback" id="usrPhoneFeedback">전화번호를 입력해 주세요.</div>
										<div class="invalid-feedback" id="usrPhoneRegExpFeedback">'-'빼고 입력해 주세요.</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-3">
										<label class="form-label">
											우편번호
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="usrZipCode" id="usrZipCode" th:value="${usrItem?.usrZipCode}" required>
										<div class="invalid-feedback">우편번호를 입력해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											주소
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="usrAddr" id="usrAddr" th:value="${usrItem?.usrAddr}" required>
										<div class="invalid-feedback">주소를 입력해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											상세주소
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="usrAddrDetail" id="usrAddrDetail" th:value="${usrItem?.usrAddrDetail}" required>
										<div class="invalid-feedback">상세주소를 입력해 주세요.</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-3">
										<label class="form-label"> 
											등급
											<a style="color: red;">*</a>
										</label> 
										<select class="form-select" name="usrGrade" id="usrGrade" required>
											<option value="">등급을 선택하세요</option>
											<option th:each="list : ${@codeService.selectListCachedCode(3)}"
												th:value="${list.ifcdSeq}" th:text="${list.ifcdName}"
												th:selected="${list.ifcdSeq} == ${usrItem?.usrGrade}">
											</option>
										</select>
										<div class="invalid-feedback">등급을 선택해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											등록날짜
											<a style="color: red;">*</a>
										</label>
										<input type="datetime" class="form-control" name="usrRegDate" th:value="${#dates.format(usrItem?.usrRegDate, 'yyyy-MM-dd HH:mm:ss')}" placeholder="등록날짜" disabled>
									</div>
									<div class="col-md-3">
										<label class="form-label">
											수정날짜
											<a style="color: red;">*</a>
										</label>
										<input type="datetime" class="form-control" name="usrEditdate" th:value="${#dates.format(usrItem?.usrEditdate, 'yyyy-MM-dd HH:mm:ss')}" placeholder="수정날짜" disabled>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-3">
										<label class="form-label">
										 	약관동의여부 
										 	<a style="color: red;">*</a>
										</label> 
										<select class="form-select" name="usrTosNy" id="usrTosNy" disabled>
											<option value="1" th:selected="${usrItem?.usrTosNy == 1}">Y</option>
											<option value="0" th:selected="${usrItem?.usrTosNy == 0}">N</option>
										</select>
										<div class="invalid-feedback">약관동의여부를 선택해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label">
										 	마케팅동의여부 
										 	<a style="color: red;">*</a>
										</label> 
										<select class="form-select" name="usrMktNy" id="usrMktNy" disabled>
											<option value="1" th:selected="${usrItem?.usrMktNy == 1}">Y</option>
											<option value="0" th:selected="${usrItem?.usrMktNy == 0}">N</option>
										</select>
										<div class="invalid-feedback">마케팅동의여부를 선택해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label class="form-label">
										 	삭제여부 
										 	<a style="color: red;">*</a>
										</label> 
										<select class="form-select" name="usrDelNy" disabled>
											<option value="0" th:selected="${usrItem?.usrDelNy == 0}">N</option>
											<option value="1" th:selected="${usrItem?.usrDelNy == 1}">Y</option>
										</select>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-4">
										<a href="/xdm/v1/infra/user/userXdmList"> 
											<button type="button" class="btn btn-outline-dark" id="btnList">
												<i class="bi bi-list-ul"></i>
											</button>
										</a>
										<button type="button" class="btn btn-danger" id="btnDelete">
											<i class="bi bi-x-lg icon_color_change"></i>
										</button>
										<button type="button" class="btn btn-danger" id="btnUelete"
											data-bs-toggle="modal" data-bs-target="#verticalycentered">
											<i class="bi bi-trash-fill icon_color_change"></i>
										</button>
									</div>
									<div class="col-md-8" align="Right">
										<button type="button" id="btnSubmit" class="btn btn-primary">
											<i class="bi bi-server"></i>
										</button>
									</div>
								</div>
							</form>
							<!-- End Custom Styled Validation -->

						</div>
					</div>

				</div>
			</div>
		</section>

	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<footer id="footer" class="footer">
		<div class="copyright">
			&copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights
			Reserved
		</div>
		<div class="credits">
			<!-- All the links in the footer should remain intact. -->
			<!-- You can delete the links only if you purchased the pro version. -->
			<!-- Licensing information: https://bootstrapmade.com/license/ -->
			<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
			Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
		</div>
	</footer>
	<!-- End Footer -->

	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/chart.js/chart.umd.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/echarts/echarts.min.js"></script>
	<script src="/xdm/v1/template/Lonely/assets/vendor/quill/quill.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/simple-datatables/simple-datatables.js"></script>
	<script
		src="/xdm/v1/template/Lonely/assets/vendor/tinymce/tinymce.min.js"></script>
	<!-- 	<script -->
	<!-- 		src="/xdm/v1/template/Lonely/assets/vendor/php-email-form/validate.js"></script> -->

	<!-- Template Main JS File -->
	<script src="/xdm/v1/template/Lonely/assets/js/main.js"></script>
	
	<!-- by developer -->	
	<script src="/xdm/v1/jquery/jquery-3.7.1.min.js"></script>
	<script src="/xdm/v1/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>
	
	<script>
		// 생년월일선택
		window.addEventListener('load', function() {
			$.datetimepicker.setLocale('ko');
			$("#usrBirth").datetimepicker({
				timepicker : false,
				format : 'Y-m-d'
			});
		});
	
		// validation
		// usrUelete
		document.getElementById("btnUelete").onclick = function(){
			alert("UELETE 확인");
			let form = document.querySelector("form[name=form]");
			form.action = "/xdm/v1/infra/user/userXdmUel";
			form.submit();
		}
		
		// usrDelete
		document.getElementById("btnDelete").onclick = function(){
			alert("DELETE 확인");
			let form = document.querySelector("form[name=form]");
			form.action = "/xdm/v1/infra/user/userXdmDel";
			form.submit();
		}
		
		// validation
		document.getElementById("btnSubmit").onclick = function(){
			
			// usrXdmNy
			var usrXdmNy = document.getElementById("usrXdmNy");
			var usrXdmNyValue = document.getElementById("usrXdmNy").value.trim();
			
			if(usrXdmNyValue == "" || usrXdmNyValue == null){
				usrXdmNy.classList.add('is-invalid');
				usrXdmNy.focus();
				return false;
			} else {
// 				by pass
				usrXdmNy.classList.remove('is-invalid');
				usrXdmNy.classList.add('is-valid');
			}
			
			// usrName
			var usrName = document.getElementById("usrName");
			var usrNameValue = document.getElementById("usrName").value.trim();
			var usrNameRegExp = /^[가-힣]+$/;		// 한글로만
			var usrNameFeedback = document.getElementById("usrNameFeedback");
			var usrNameRegExpFeedback = document.getElementById("usrNameRegExpFeedback");
			
			// 기존 validation 초기화
			usrName.classList.remove('is-valid', 'is-invalid');
			usrNameFeedback.style.display='none';
			usrNameRegExpFeedback.style.display='none';
			
			if(usrNameValue == "" || usrNameValue == null){
				usrNameFeedback.style.display='block';
				usrName.classList.add('is-invalid');
				usrName.focus();
				return false;
			} else {
// 				by pass
			}
			if(!usrNameRegExp.test(usrNameValue)){
				usrNameRegExpFeedback.style.display='block';
				usrName.classList.add('is-invalid');
				usrName.focus();
				return false;
			} else {
// 				by pass
				usrName.classList.add('is-valid');
			}
			
			
			// usrId
			var usrId = document.getElementById("usrId");
			var usrIdValue = document.getElementById("usrId").value.trim();
			var usrIdRegExp = /^(?=.*[a-zA-Z])(?=.*[0-9]).{6,15}$/;		// 영대소문자, 숫자포함 6~15자
			var usrIdFeedback = document.getElementById("usrIdFeedback");
			var usrIdRegExpFeedback = document.getElementById("usrIdRegExpFeedback");
			
			// 기존 validation 초기화
			usrId.classList.remove('is-valid', 'is-invalid');
			usrIdFeedback.style.display='none';
			usrIdRegExpFeedback.style.display='none';
			
			if(usrIdValue == "" || usrIdValue == null){
				usrIdFeedback.style.display='block';
				usrId.classList.add('is-invalid');
				usrId.focus();
				return false;
			} else {
// 				by pass
			}
			if(!usrIdRegExp.test(usrIdValue)){
				usrIdRegExpFeedback.style.display='block';
				usrId.classList.add('is-invalid');
				usrId.focus();
				return false;
			} else {
// 				by pass
				usrId.classList.add('is-valid');
			}
			
			// usrPw
			var usrPw = document.getElementById("usrPw");
			var usrPwValue = document.getElementById("usrPw").value.trim();
			var usrPwRegExp = /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^*+=-]).{8,15}$/;	// 영대소문자, 숫자, 특수문자!@#$%^*+=- 포함 8~15자
			var usrPwFeedback = document.getElementById("usrPwFeedback");
			var usrPwRegExpFeedback = document.getElementById("usrPwRegExpFeedback");
			
			// 기존 validation 초기화
			usrPw.classList.remove('is-valid', 'is-invalid');
			usrPwFeedback.style.display='none';
			usrPwRegExpFeedback.style.display='none';
			
			if(usrPwValue == "" || usrPwValue == null){
				usrPwFeedback.style.display='block';
				usrPw.classList.add('is-invalid');
				usrPw.focus();
				return false;
			} else {
// 				by pass
			}
			if(!usrPwRegExp.test(usrPwValue)){
				usrPwRegExpFeedback.style.display='block';
				usrPw.classList.add('is-invalid');
				usrpw.focus();
				return false;
			} else {
// 				by pass
				usrPw.classList.add('is-valid');
			}
			
			// usrGender
			var usrGender = document.getElementById("usrGender");
			var usrGenderValue = document.getElementById("usrGender").value.trim();
			
			// 기존 validation 초기화
			usrGender.classList.remove('is-valid', 'is-invalid');
			
			if(usrGenderValue == "" || usrGenderValue == null){
				usrGender.classList.add('is-invalid');
				usrGender.focus();
				return false;
			} else {
// 				by pass
				usrGender.classList.remove('is-invalid');
				usrGender.classList.add('is-valid');
			}
			
			// usrBirth
			var usrBirth = document.getElementById("usrBirth");
			var usrBirthValue = document.getElementById("usrBirth").value.trim();
			var usrBirthRegExp = /^(19[0-9][0-9]|20\d{2})-(0[0-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/;
			var usrBirthFeedback = document.getElementById("usrBirthFeedback");
			var usrBirthRegExpFeedback = document.getElementById("usrBirthRegExpFeedback");
			
			// 기존 validation 초기화
			usrBirth.classList.remove('is-valid', 'is-invalid');
			usrBirthFeedback.style.display='none';
			usrBirthRegExpFeedback.style.display='none';
			
			if(usrBirthValue == "" || usrBirthValue == null){
				usrBirthFeedback.style.display='block';
				usrBirth.classList.add('is-invalid');
				usrBirth.focus();
				return false;
			} else {
// 				by pass
			}
			if(!usrBirthRegExp.test(usrBirthValue)){
				usrBirthRegExpFeedback.style.display='block';
				usrBirth.classList.add('is-invalid');
				usrBirth.focus();
				return false;
			} else {
// 				by pass
				usrBirth.classList.add('is-valid');
			}
			
			// usrEmail
			var usrEmail = document.getElementById("usrEmail");
			var usrEmailValue = document.getElementById("usrEmail").value.trim();
			var	usrEmailRegExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
			var usrEmailFeedback = document.getElementById("usrEmailFeedback");
			var usrEmailRegExpFeedback = document.getElementById("usrEmailRegExpFeedback");
			
			// 기존 validation 초기화
			usrEmail.classList.remove('is-valid', 'is-invalid');
			usrEmailFeedback.style.display='none';
			usrEmailRegExpFeedback.style.display='none';
			
			if(usrEmailValue == "" || usrEmailValue == null){
				usrEmailFeedback.style.display='block';
				usrEmail.classList.add('is-invalid');
				usrEmail.focus();
				return false;
			} else {
// 				by pass
			}
			if(!usrEmailRegExp.test(usrEmailValue)){
				usrEmailRegExpFeedback.style.display='block';
				usrEmail.classList.add('is-invalid');
				usrEmail.focus();
				return false;
			} else {
// 				by pass
				usrEmail.classList.add('is-valid');
			}
			
			// usrPhone
			var usrPhone = document.getElementById("usrPhone");
			var usrPhoneValue = document.getElementById("usrPhone").value.trim();
			var usrPhoneRegExp = /^01([0|1|6|7|8|9]?)([0-9]{3,4})([0-9]{4})$/;
			var usrPhoneFeedback = document.getElementById("usrPhoneFeedback");
			var usrPhoneRegExpFeedback = document.getElementById("usrPhoneRegExpFeedback");
			
			// 기존 validation 초기화
			usrPhone.classList.remove('is-valid', 'is-invalid');
			usrPhoneFeedback.style.display='none';
			usrPhoneRegExpFeedback.style.display='none';
			
			if(usrPhoneValue == "" || usrPhoneValue == null){
				usrPhoneFeedback.style.display='block';
				usrPhone.classList.add('is-invalid');
				usrPhone.focus();
				return false;
			} else {
// 				by pass
			}
			if(!usrPhoneRegExp.test(usrPhoneValue)){
				usrPhoneRegExpFeedback.style.display='block';
				usrPhone.classList.add('is-invalid');
				usrPhone.focus();
				return false;
			} else {
// 				by pass
				usrPhone.classList.add('is-valid');
			}
			
			// usrZipCode
			var usrZipCode = document.getElementById("usrZipCode");
			var usrZipCodeValue = document.getElementById("usrZipCode").value.trim();
			
			if(usrZipCodeValue == "" || usrZipCodeValue == null){
				usrZipCode.classList.add('is-invalid');
				usrZipCode.focus();
				return false;
			} else {
// 				by pass
				usrZipCode.classList.remove('is-invalid');
				usrZipCode.classList.add('is-valid');
			}
			
			
		// usrAddr
			var usrAddr = document.getElementById("usrAddr");
			var usrAddrValue = document.getElementById("usrAddr").value.trim();
			
			if(usrAddrValue == "" || usrAddrValue == null){
				usrAddr.classList.add('is-invalid');
				usrAddr.focus();
				return false;
			} else {
// 				by pass
				usrAddr.classList.remove('is-invalid');
				usrAddr.classList.add('is-valid');
			}
			
			
		// usrAddrDetail
			var usrAddrDetail = document.getElementById("usrAddrDetail");
			var usrAddrDetailValue = document.getElementById("usrAddrDetail").value.trim();
			
			if(usrAddrDetailValue == "" || usrAddrDetailValue == null){
				usrAddrDetail.classList.add('is-invalid');
				usrAddrDetail.focus();
				return false;
			} else {
// 				by pass
				usrAddrDetail.classList.remove('is-invalid');
				usrAddrDetail.classList.add('is-valid');
			}
			
			// usrGrade
			var usrGrade = document.getElementById("usrGrade");
			var usrGradeValue = document.getElementById("usrGrade").value.trim();
			
			if(usrGradeValue == "" || usrGradeValue == null){
				usrGrade.classList.add('is-invalid');
				usrGrade.focus();
				return false;
			} else {
// 				by pass
				usrGrade.classList.remove('is-invalid');
				usrGrade.classList.add('is-valid');
			}
			
			// usrTosNy
			var usrTosNy = document.getElementById("usrTosNy");
			var usrTosNyValue = document.getElementById("usrTosNy").value.trim();
			
			if(usrTosNyValue == "" || usrTosNyValue == null){
				usrTosNy.classList.add('is-invalid');
				usrTosNy.focus();
				return false;
			} else {
// 				by pass
				usrTosNy.classList.remove('is-invalid');
				usrTosNy.classList.add('is-valid');
			}
			
			// usrMktNy
			var usrMktNy = document.getElementById("usrMktNy");
			var usrMktNyValue = document.getElementById("usrMktNy").value.trim();
			
			if(usrMktNyValue == "" || usrMktNyValue == null){
				usrMktNy.classList.add('is-invalid');
				usrMktNy.focus();
				return false;
			} else {
// 				by pass
				usrMktNy.classList.remove('is-invalid');
				usrMktNy.classList.add('is-valid');
			}
			
			
			
			form.action = "/xdm/v1/infra/user/userXdmUpdt";
			form.submit();
		}
		
		// LogoutProc
		  document.getElementById("SignoutBtn").onclick = function (){
			   alert("로그아웃 성공");
			   $.ajax({
			      async: true 
			      ,cache: false
			      ,type: "post"
			      /* ,dataType:"json" */
			      ,url: "/xdm/v1/infra/user/userXdmSignoutProc"
			      /* ,data : $("#formLogin").serialize() */
			      ,success: function(response) {
			         if(response.rt == "success") {
			               location.href = "/xdm/v1/infra/user/userXdmSignin";
			         } else {
			            // by pass
			         }
			      }
			   });
			}
	</script>

</body>

</html>