<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baseball.infra.lecture.LectureDao">
	  <resultMap type="com.baseball.infra.lecture.LectureDto" id="resultMapObj"></resultMap>
	  <select id="selectLecture" resultMap="resultMapObj">
	  		SELECT
				d.lecSeq,
			    d.lecType,
				d.lecName,
				d.lecPrice,
				d.lecTeacher,
				d.lecApplyStart,
				d.lecApplyEnd,
				d.lecStudyStart,
				d.lecStudyEnd,
				d.lecPlace,
				d.lecContent,
				d.lecDelNy,
				d.lecRegist,
				d.lecEdit
			FROM
				bears.lecture d
			ORDER BY
				d.lecSeq desc
	  </select>
	  <insert id="insert">
	  		INSERT INTO lecture (
			    lecType,
				lecName,
				lecPrice,
				lecTeacher,
				lecApplyStart,
				lecApplyEnd,
				lecStudyStart,
				lecStudyEnd,
				lecPlace,
				lecContent,
				lecDelNy,
				lecRegist,
				lecEdit
	  		) VALUES (
	  			#{lecType},
	  			#{lecName},
	  			#{lecPrice},
	  			#{lecTeacher},
	  			#{lecApplyStart},
	  			#{lecApplyEnd},
	  			#{lecStudyStart},
	  			#{lecStudyEnd},
	  			#{lecPlace},
	  			#{lecContent},
	  			#{lecDelNy},
			    now(),
			    now()
			)
	  </insert>
	  
	  <select id="selectOne" resultMap="resultMapObj">
	  		SELECT
				d.lecSeq,
			    d.lecType,
				d.lecName,
				d.lecPrice,
				d.lecTeacher,
				d.lecApplyStart,
				d.lecApplyEnd,
				d.lecStudyStart,
				d.lecStudyEnd,
				d.lecPlace,
				d.lecContent,
				d.lecDelNy,
				d.lecRegist,
				d.lecEdit
			FROM
				bears.lecture d
			WHERE 1 = 1
				And d.lecSeq = #{lecSeq}
	  </select>
	  
	  <update id="update">
	  		UPDATE bears.lecture
	  		SET
	  			lecType = #{lecType},
				lecName = #{lecName},
				lecPrice = #{lecPrice},
				lecTeacher = #{lecTeacher},
				lecApplyStart = #{lecApplyStart},
				lecApplyEnd = #{lecApplyEnd},
				lecStudyStart = #{lecStudyStart},
				lecStudyEnd = #{lecStudyEnd},
				lecPlace = #{lecPlace},
				lecContent = #{lecContent},
				lecDelNy = #{lecDelNy}
			WHERE 1 = 1
				AND lecSeq = #{lecSeq}
	  </update>
	  
</mapper>