<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baseball.infra.member.MemberDao">
	  <resultMap type="com.baseball.infra.member.MemberDto" id="resultMapObj"></resultMap>
	  <select id="selectMember" resultMap="resultMapObj">
	  		SELECT
				c.memSeq,
				c.memXdmNy,
			    c.memName,
			    c.memId,
			    c.memPassword,
			    c.memGender,
			    c.memBirth,
			    c.memEmail,
			    c.memPhone,
			    c.memDesc,
			    c.memDelNy,
			    c.memRegist,
			    c.memEdit
			FROM
				bears.member c
			ORDER BY
				c.memSeq desc
	  </select>
	  
	  <insert id="insert">
	  		INSERT INTO member (
				memXdmNy,
			    memName,
			    memId,
			    memPassword,
			    memGender,
			    memBirth,
			    memEmail,
			    memPhone,
			    memDesc,
			    memDelNy,
			    memRegist,
			    memEdit
	  		)VALUES(
			    #{memXdmNy},
			    #{memName},
			    #{memId},
			    #{memPassword},
			    #{memGender},
			    #{memBirth},
			    #{memEmail},
			    #{memPhone},
			    #{memDesc},
			    #{memDelNy},
			    now(),
			    now()
			)
	  </insert>
	  
	  <select id="selectOne" resultMap="resultMapObj">
	  		SELECT
				c.memSeq,
				c.memXdmNy,
			    c.memName,
			    c.memId,
			    c.memPassword,
			    c.memGender,
			    c.memBirth,
			    c.memEmail,
			    c.memPhone,
			    c.memDesc,
			    c.memDelNy,
			    c.memRegist,
			    c.memEdit
			FROM
				bears.member c
			WHERE 1=1
				AND c.memSeq = #{memSeq}
	  </select>
	  
	  <update id="update">
	  		UPDATE bears.member
	  		SET
	  			memXdmNy = #{memXdmNy},
			    memName = #{memName},
			    memId = #{memId},
			    memPassword = #{memPassword},
			    memGender = #{memGender},
			    memBirth = #{memBirth},
			    memEmail = #{memEmail},
			    memPhone = #{memPhone},
			    memDesc = #{memDesc},
			    memDelNy = #{memDelNy}
			WHERE 1 = 1
				AND memSeq = #{memSeq}
	  </update>
	  
</mapper>