<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baseball.infra.user.UserDao">

	<resultMap type="com.baseball.infra.user.UserDto" id="resultMapObj"></resultMap>
		
		<!-- 검색 -->
		<sql id="selectCommon">
			FROM
				bears.B_user a
			WHERE 1 = 1
				<if test="shDelNy != null and !shDelNy.equals('')">AND usrDelNy = #{shDelNy}</if>
				<if test="shXdmNy != null and !shXdmNy.equals('')">AND usrXdmNy = #{shXdmNy}</if>
				<if test="shTosNy != null and !shTosNy.equals('')">AND usrTosNy = #{shTosNy}</if>
				<if test="shMktNy != null and !shMktNy.equals('')">AND usrMktNy = #{shMktNy}</if>
				<choose>
					<when test="shGrade == 0">AND usrGrade = 0</when>
					<when test="shGrade == 1">AND usrGrade = 1</when>
					<when test="shGrade == 2">AND usrGrade = 2</when>
					<when test="shGrade == 3">AND usrGrade = 3</when>
					<when test="shGrade == 4">AND usrGrade = 4</when>
				</choose>
				<choose>
					<when test="shDateOption == 1">AND usrRegDate BETWEEN #{shStartDate} AND #{shEndDate}</when>
					<when test="shDateOption == 2">AND usrEditdate BETWEEN #{shStartDate} AND #{shEndDate}</when>
				</choose>
				<choose>
					<when test="shOption == 1">AND usrSeq = #{shValue}</when>
					<when test="shOption == 2">AND usrName LIKE CONCAT('%',#{shValue},'%')</when>
					<when test="shOption == 3">AND usrId LIKE CONCAT('%',#{shValue},'%')</when>
					<when test="shOption == 4">AND usrGender LIKE CONCAT('%',#{shValue},'%')</when>
					<when test="shOption == 5">AND usrBirth LIKE CONCAT('%',#{shValue},'%')</when>
					<when test="shOption == 6">AND usrPhone LIKE CONCAT('%',#{shValue},'%')</when>
				</choose>
		</sql>
		
		<!-- 개수 카운트 -->
		<select id="selectOneCount">
			SELECT COUNT(*)
			<include refid="selectCommon"/>
		</select>
	
		<!-- 리스트페이지 데이터 가져오기 -->
		<select id="usrSelectList" resultMap="resultMapObj">
			SELECT aa.* FROM(
				SELECT
					a.usrSeq,
					a.usrXdmNy,
					a.usrName,
					a.usrId,
					a.usrPw,
					a.usrGender,
					a.usrBirth,
					a.usrEmail,
					a.usrPhone,
					a.usrGrade,
					a.usrRegDate,
					a.usrEditdate,
					a.usrTosNy,
					a.usrMktNy,
					a.usrDelNy
					<include refid="selectCommon"/>
				ORDER BY
					a.usrSeq DESC
			) aa limit #{rowNumToShow} offset #{startRnumForMySql}
		</select>
		
		<!-- insert 정보 등록 -->
		<insert id="usrInsert">
			INSERT INTO B_user(
				usrXdmNy,
				usrName,
				usrId,
				usrPw,
				usrGender,
				usrBirth,
				usrEmail,
				usrPhone,
				usrGrade,
				usrRegDate,
				usrEditdate,
				usrTosNy,
				usrMktNy,
				usrDelNy
			) VALUES (
			    #{usrXdmNy},
			    #{usrName},
			    #{usrId},
			    #{usrPw},
			    #{usrGender},
			    #{usrBirth},
			    #{usrEmail},
			    #{usrPhone},
			    #{usrGrade},
			    now(),
			    now(),
			    #{usrTosNy},
			    #{usrMktNy},
			    0
			)
		</insert>
		
		<!-- 수정페이지 정보 가져오기 -->
		<select id="usrSelectOne" resultMap="resultMapObj">
			SELECT
				a.usrSeq,
				a.usrXdmNy,
				a.usrName,
				a.usrId,
				a.usrPw,
				a.usrGender,
				a.usrBirth,
				a.usrEmail,
				a.usrPhone,
				a.usrGrade,
				a.usrRegDate,
				a.usrEditdate,
				a.usrTosNy,
				a.usrMktNy,
				a.usrDelNy
			FROM
				bears.B_user a
			WHERE 1 = 1
				AND a.usrSeq = #{usrSeq}
		</select>
		
		<!-- 수정 -->
		<update id="usrUpdate">
			UPDATE bears.B_user
			SET
				usrXdmNy = #{usrXdmNy},
				usrName = #{usrName},
				usrId =  #{usrId},
				usrPw = #{usrPw},
				usrGender = #{usrGender},
				usrBirth = #{usrBirth},
				usrEmail = #{usrEmail},
				usrPhone = #{usrPhone},
				usrGrade = #{usrGrade},
				usrTosNy = #{usrTosNy},
				usrMktNy = #{usrMktNy},
				usrEditdate = now(),
				usrDelNy = 0
			WHERE 1 = 1
				AND usrSeq = #{usrSeq}
		</update>
		
		<!-- 수정삭제 -->
		<update id="usrUelete">
			UPDATE bears.B_user
			SET
				usrDelNy = 1
			WHERE 1 = 1
				AND usrSeq = #{usrSeq}
		</update>
		
		<!-- 삭제 -->
		<delete id="usrDelete">
			DELETE FROM bears.B_user
			WHERE 1 = 1
				AND usrSeq = #{usrSeq}
		</delete>
		
		<!-- 로그인 -->
		<select id="usrSelectOneSignin" resultMap="resultMapObj">
			SELECT 
				a.usrId,
				a.usrPw
			FROM
				bears.B_user a
			WHERE 
				1 = 1
				AND a.usrId = #{usrId}
				AND a.usrPw = #{usrPw}
		</select>
		
		<!-- 로그인 세션 유지 -->
		<select id="usrSelectOneId" resultMap="resultMapObj">
			SELECT
				a.usrSeq,
				a.usrId,
				a.usrName
			FROM
				bears.B_user a
			WHERE 
				1 = 1
				AND a.usrId = #{usrId}
		</select>

</mapper>